{%- comment -%}
This is used for the API cookbooks to tell the user when to replace their API
token or API URL in code samples.

There are two ways to pass it:

Option 1: At the top of the file, to apply to all <<API-TOKEN>> and <<API-URL>>
  instances in the page.
  Example:
    {% include api-cookbook/replace-vars.html multiCodeBlocks=true %}

Option 2: Contextually, just above or below the code block:
  Example:
    {% include api-cookbook/replace-vars.html %}

{%- endcomment -%}

{%- case include.multiCodeBlocks -%}
  {%- when true -%}
  ### Variables in this article

  In the code blocks in this article, you'll see `<<API-TOKEN>>` and `<<API-URL>>` variables.
  These need to be replaced with information specific to your account:
  {%- else -%}
  In the code block below:
{%- endcase %}

* Replace `<<API-TOKEN>>` with an [API token](https://app.logz.io/#/dashboard/settings/manage-tokens/api) from the account you want to use
* Replace `<<API-URL>>` with your region's base API URL.
  For more information on finding your account's region, see [Account region]({{site.baseurl}}/user-guide/accounts/account-region.html).