<footer>
  <div class="copyright">
    <a href="{{site.baseurl}}/docs-admin/" class="no-link">All</a>
    Rights Reserved
    &copy; {{ site.copyright }}
  </div>

  <div class="footer-links">
    <ul class="horizontal-list">
      <li><a href="https://logz.io/about-us/privacy-policy/" target="_top">Privacy policy</a></li>
      <li><a href="https://logz.io/about-us/terms-of-use/" target="_top">Terms of use</a></li>
      <li><a href="https://logz.io/about-us/trademarks-legal-notice/" target="_top">Trademark Legal Notice</a></li>
      <li><a href="{{ site.baseurl }}/credits.html" target="_top">Contributors</a></li>
    </ul>
  </div>

  <div class="social-icons">
    <ul class="horizontal-list">
      <li class="icon">
        <a class="facebook" href="{{ site.facebook_url }}" target="_top">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="icon">
        <a class="twitter" href="{{ site.twitter_url }}" target="_top">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="icon">
        <a class="youtube" href="{{ site.youtube_url }}" target="_top">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li class="icon">
        <a class="googleplus" href="{{ site.google_plus_url }}" target="_top">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <li class="icon">
        <a class="linkedin" href="{{ site.linkedin_url }}" target="_top">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      {% if site.show_atom_feed == true -%}
      <li class="icon">
        <a class="atom-feed" href="{{ site.baseurl }}/feed.xml" target="_top">
          <i class="fas fa-rss-square"></i>
        </a>
      </li>
      {% endif -%}
      <li class="icon">
        <a class="github" href="{{ site.github.org_url }}" target="_top">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>

<script>
  var scroll = new SmoothScroll('a[href*="#"]', {	// Selectors
	ignore: '[data-scroll-ignore], .branching-tabs > li > a', // Selector for links to ignore (must be a valid CSS selector)
	topOnEmptyHash: true, // Scroll to the top of the page for links with href="#"

	// Speed & Easing
	speed: 500, // Integer. How fast to complete the scroll in milliseconds
	clip: true, // If true, adjust scroll distance to prevent abrupt stops near the bottom of the page
	offset: 100,
	easing: 'easeInOutCubic', // Easing pattern to use
	customEasing: function (time) {
		// If this is set to anything other than null, will override the easing option above
		return time < 0.5 ? 2 * time * time : -1 + (4 - 2 * time) * time;
	},

	// History
	updateURL: true, // Update the URL on scroll
	popstate: false, // Animate scrolling with the forward/backward browser buttons (requires updateURL to be true)

});
</script>
</footer>
