{%- comment -%}
*   This include takes `datafile` as an argument. If `datafile` is nil, it
*   assumes it's working with a collection, and uses the collection as its
*   datasource. (You can pass .yml or .yaml exension, and that's fine.)
*
*   `datafile` is a string, and it must be the filename of a yaml file in the
*   _data folder. The structure of the yaml file needs to match the structure
*   in the log shipping page frontmatter.
*
*   Output from this include:
*     shippersInThisCategory
*
*         {%- endcomment -%}

{%- case include.datafile -%}
  {%- when nil -%}
    {%- assign category = include.shippingCategory | default: page.shipping-category -%}
    {%- assign collectionName = page.collection | default: include.collection -%}
    {%- assign thisCollection = site.collections | where: "label", collectionName | first -%}
    {%- assign shippersInThisCategory = thisCollection.docs | where: "shipping-category", category -%}
  {%- else -%}
    {%- assign datafile = include.datafile | remove: ".yml" | remove: ".yaml" -%}
    {%- assign shippersInThisCategory = site.data.[datafile] -%}
{%- endcase -%}

{%- for shipper in shippersInThisCategory  %}
  {%- assign shipperUrl = shipper.project-url | default: shipper.url -%}
  {%- assign filename = shipper.path | split: "/" | last -%}

{%- unless filename == "index.md" -%}
  <div class="card mini-card
    {%- if shipper.community-project == true %} community-project-card{%- endif -%}
  ">
    <a href="{{ shipperUrl }}">
      <div class="card-icon {{shipper.logo.orientation}}" style="background-image: url('{{site.baseurl}}/images/shipper-logos/{{shipper.logo.logofile}}');" alt="{{shipper.shipping-summary.data-source}} logo">
      </div>
      <div class="card-text">
        <span class="card-title">{{ shipper.shipping-summary.data-source }}</span>
        {%- if shipper.community-project == true %}
        <p>{{shipper.title}}</p>
        {%- endif %}
      </div>
    </a>
  </div>
{%- endunless -%}
{%- endfor %}