{{ include.prepend }}

{%- if include.token -%}
  {%- case include.token -%}
    {%- when 'noReplace' -%}
    The [token](https://app.logz.io/#/dashboard/settings/general) of the account you want to ship to.
    {%- else -%}
    Replace `<ACCOUNT-TOKEN>` with the [token](https://app.logz.io/#/dashboard/settings/general) of the account you want to ship to.
  {%- endcase -%}
{%- endif -%}

{%- if include.token and include.listener -%}
    <br /> <br />
{%- endif -%}

{%- if include.listener -%}
  {%- case include.listener -%}
    {%- when 'noReplace' -%}
    {%- if include.isMidSentence == true -%}
      your
    {%- else -%}
      Your
    {%- endif %}
    region's listener URL.
    For more information on finding your account's region, see [Account region]({{site.baseurl}}/user-guide/accounts/account-region.html).
    {%- else -%}
    Replace `<LISTENER-URL>` with your region's listener URL.
    For more information on finding your account's region, see [Account region]({{site.baseurl}}/user-guide/accounts/account-region.html).
  {%- endcase -%}
{%- endif -%}

{{ include.append }}