{%- comment -%}
This is used for data shipping docs to tell the user when to replace tokens and
listener hosts in code samples.

It uses 2 main parameters: `token`, `listener`. You'll pass either
  token or listener, but never both. If you need both, use the include twice
  (once for each param).
It has 3 secondary parameters: `prepend`, `append`, `isMidSentence`

=== MAIN PARAMETERS ===
`token`: true (boolean) or "noReplace" (string)
  In most cases, use `true`. Use "noReplace" when there's no actual
  `<<SHIPPING-TOKEN>>` string to replace (e.g., some AWS shipping docs).
  Examples:
    {% include log-shipping/replace-vars.html token=true %}
    {% include log-shipping/replace-vars.html token="noReplace" %}

`listener`: true (boolean) or "noReplace" (string)
  In most cases, use `true`. Use "noReplace" when there's no actual
  `<<LISTENER-HOST>>` string to replace (e.g., some AWS shipping docs).
  Example:
    {% include log-shipping/replace-vars.html listener=true %}
    {% include log-shipping/replace-vars.html listener="noReplace" %}
    {% include log-shipping/replace-vars.html listener="noReplace" isMidSentence=true %}

=== SECONDARY PARAMETERS ===
`prepend`: string
  Use to include any text BEFORE the include string (e.g., "<br>" for a forced
  line break)

`append`: string
  Use to include any text AFTER the include string (e.g., "<br>" for a forced
  line break)

`isMidSentence`: true (boolean)
  Only used with `listener`. Use if this include comes in the middle of a
  sentence to keep the first letter lowercase.
{%- endcomment -%}

{{ include.prepend }}

{%- if include.token -%}
  {%- case include.token -%}
    {%- when 'noReplace' -%}
    The [token](https://app.logz.io/#/dashboard/settings/general) of the account you want to ship to.
    {%- else -%}
    Replace `<<SHIPPING-TOKEN>>` with the [token](https://app.logz.io/#/dashboard/settings/general) of the account you want to ship to.
  {%- endcase -%}
{%- endif -%}

{%- if include.token and include.listener -%}
    <br /> <br />
{%- endif -%}

{%- if include.listener -%}
  {%- case include.listener -%}
    {%- when 'noReplace' -%}
    {%- if include.isMidSentence == true -%}
      your&nbsp;
    {%- else -%}
      Your&nbsp;
    {%- endif -%}
    region's listener host. For more information on finding your account's region, see [Account region]({{site.baseurl}}/user-guide/accounts/account-region.html).
    {%- else -%}
    Replace `<<LISTENER-HOST>>` with your region's listener host (for example, `listener.logz.io`). For more information on finding your account's region, see [Account region]({{site.baseurl}}/user-guide/accounts/account-region.html).
  {%- endcase -%}
{%- endif -%}

{{ include.append }}