{%- unless page.shipping-summary.hidden == true -%}

{%- assign dataSource = page.shipping-summary.data-source -%}
{%- assign logShippers = page.shipping-summary.log-shippers -%}
{%- assign metricsShippers = page.shipping-summary.metrics-shippers -%}
{%- assign appenders = page.shipping-summary.appenders -%}
{%- assign os = page.shipping-summary.os -%}

{% if logShippers -%}
{%- capture logShippersBlock -%}
<div>Log shippers <span>
{%- for shipper in logShippers -%}
{%- if shipper.recommended -%}
  {{shipper.recommended}} <span class="sm ital">(recommended)</span>
{%- else -%}
  {{shipper}}
{%- endif -%}
{%- unless forloop.last %}, {% endunless -%}
{%- endfor -%}
</span></div>
{%- endcapture -%}
{%- endif %}

{% if metricsShippers -%}
{%- capture metricsShippersBlock -%}
<div>Metrics shippers <span>
{%- for shipper in metricsShippers -%}
{%- if shipper.recommended -%}
  {{shipper.recommended}} <span class="sm ital">(recommended)</span>
{%- else -%}
  {{shipper}}
{%- endif -%}
{%- unless forloop.last %}, {% endunless -%}
{%- endfor -%}
</span></div>
{%- endcapture -%}
{%- endif %}

{% if appenders -%}
{%- capture appendersBlock -%}
<div>Log appenders <span>
{%- for appender in appenders -%}
{%- if appender.recommended -%}
  {{appender.recommended}} <span class="sm ital">(recommended)</span>
{%- else -%}
  {{appender}}
{%- endif -%}
{%- unless forloop.last %}, {% endunless -%}
{%- endfor -%}
</span></div>
{%- endcapture -%}
{%- endif %}

<div class="shipping-summary">
<div>Data source <span>{{dataSource}}</span></div>
{{logShippersBlock}}
{{metricsShippersBlock}}
{{appendersBlock}}
{% if os %}
<div>OS <span>{{os}}</span></div>
{% endif %}
</div>
{%- endunless -%}
