<div class="card-container align-left">

  <div class="cards mini-cards">
    {%- for shipper in shippersInThisCategory  %}
      {%- assign shipperUrl = shipper.project-url | default: shipper.url -%}
      {%- assign filename = shipper.path | split: "/" | last -%}

    {%- unless filename == "index.md" -%}
      <a href="{{ shipperUrl }}">
        <div class="card mini-card
          {%- if shipper.community-project == true %} community-project-card{%- endif -%}
        ">
          <div class="card-icon {{shipper.logo.orientation}}" style="background-image: url('{{site.baseurl}}/images/shipper-logos/{{shipper.logo.logofile}}');" alt="{{shipper.shipping-summary.data-source}} logo">
          </div>
          <div class="card-text">
            <span class="card-title">{{ shipper.shipping-summary.data-source }}</span>
            {%- if shipper.community-project == true %}
            <p>{{shipper.title}}</p>
            {%- endif %}
          </div>
          {%- if shipper.community-project == true -%}
          <div class="community-project-label">Community project</div>
          {%- endif %}
        </div>
      </a>
    {%- endunless -%}
    {%- endfor %}
    </div>

</div>