---
layout: default
community-info: false
---
{%- comment -%}
*   The folder path for this collection
*         {%- endcomment -%}
{%- assign thisCollection = page.collection | prepend: "_" -%}

{%- comment -%}
*   Loop through defaults from _config.yml, and add any defaults that apply to thisCollection.
*         {%- endcomment -%}
{%- for item in site.defaults -%}
    {%- assign defaultsPath = item.scope.path | split: "/" | join: " " | truncatewords: 1, "" -%}
    {%- if defaultsPath == thisCollection -%}
      {%- assign thisCategory = item.values.shipping-category | split: "%" -%}
      {%- assign categories = categories | concat: thisCategory -%}
    {%- endif -%}
{%- endfor -%}

{%- comment -%}
*   On-page TOC. Don't modify this structure. Javascript populates this content
*   at runtime.
*         {%- endcomment -%}
{%- capture thisPageTocHeader -%}
{%- case page.collection -%}
  {%- when "data-sources" -%}
    Filter by log source
  {%- when "shipping-utilities" -%}
    What kind of shippers are you looking for?
{%- endcase -%}
{%- endcapture -%}
<nav id="on-this-page-toc">
  <h5>{{thisPageTocHeader}}</h5>
  <div>
    <a class="filter-btn filter-active" data-filter="all">All</a>
    {%- for c in categories %}
      <a class="filter-btn" data-filter="{{c | downcase | slugify}}">{{c}}</a>
    {% endfor -%}
  </div>
</nav>

{%- comment -%}
*   Loop through each category, and create the shipping cards for that
*   category. Simple as that.
*         {%- endcomment -%}

<div class="card-container align-left">
  <div class="cards mini-cards">
  {%- for category in categories %}
    {%- include log-shipping/data-source-array.html shippingCategory=category -%}
    {%- include log-shipping/shipping-cards.html -%}
  {%- endfor -%}
  </div>
</div>