---
layout: default
community-info: false
---

{%- assign siteDefaults = site.defaults -%}
{%- assign defaultsList = "" -%}
{%- assign thisCollection = page.collection | prepend: "_" -%}

{%- for item in siteDefaults -%}
    {%- assign defaultsPath = item.scope.path | split: "/" | join: " " | truncatewords: 1, "" -%}
    {%- if defaultsPath == thisCollection -%}
      {%- assign thisCategory = item.values.shipping-category | split: "%" -%}
      {%- assign collectionCategories = collectionCategories | concat: thisCategory -%}
    {%- endif -%}
{%- endfor -%}

{%- for category in collectionCategories %}
<h2 class="padding-top-10">{{category}}</h2>

{%- assign thisShippingCategory = category -%}
{%- assign shippersInThisCategory = site.data-sources | where: "shipping-category", thisShippingCategory %}

{%- include log-shipping/shipping-cards.html -%}
{%- endfor -%}
