---
---
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}
  <body>
    <iframe class="header-frame" src="{{ site.baseurl }}/api-src/iframe-header.html" scrolling="no"></iframe>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Nunito+Sans:300,300i,400,400i,700" rel="stylesheet">

    <div id="redoc-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>

    <script>
      Redoc.init('{{ site.baseurl }}/api-src/logzio-public-api.yml', {
        theme: {
          colors: {
            primary: {
              main: '#296386'
            },
            text: {
              primary: '#53585f',
              secondary: '#296386'
            }
          },
          typography: {
            fontSize: '14px',
            lineHeight: '1.5',
            fontWeightRegular: '400',
            fontWeightBold: '700',
            fontWeightLight: '700',
            fontFamily: 'Nunito Sans, sans-serif',
            smoothing: 'antialiased',
            optimizeSpeed: true,
            headings: {
              fontFamily: 'Nunito Sans, sans-serif'
            },
            code: {
              fontFamily: 'Source Code Pro, monospace',
              fontSize: '11px'
            },
            links: {
              color: '#009cbd',
              visited: '#009cbd',
              hover: '#009cbd'
            }
          },
        },
        scrollYOffset: 'iframe.header-frame',
        expandResponses: 'all',
        pathInMiddlePanel: true,
        hideLoading: true
      }, document.getElementById('redoc-container'))
    </script>

    <iframe class="footer" src="{{ site.baseurl }}/api-src/iframe-footer.html" scrolling="no"></iframe>
  </body>

</html>
