---
layout: default
---
<div class="contributor-title">
  {% if page.logzio-role %}
    {{ page.logzio-role }} at Logz.io
  {% else %}
    Community Contributor
  {% endif %}
</div>

<div class="contributor icons">
  {% if page.website %}
  <a href="{{ page.website }}"><i class="fa fa-globe" aria-hidden="true"></i></a>
  {% endif %}

  {% if page.linkedin %}
  <a href="https://www.linkedin.com/in/{{ page.linkedin }}/"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
  {% endif %}

  {% if page.twitter %}
  <a href="https://twitter.com/{{ page.twitter }}"><i class="fab fa-twitter"></i></a>
  {% endif %}

  {% if page.github %}
  <a href="https://github.com/{{ page.github }}"><i class="fab fa-github"></i></a>
  {% endif %}
</div>

<div class="contributions">
  <h3>Contributions</h3>
  <ul>
    {% assign filename = page.url | split: "/" %}
    {% assign contributor_shortname = filename.last %}

    {% for article in site.pages %}
    {% if article.contributors contains contributor_shortname  %}
    <li>
      <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
    </li>

    {% endif %}
    {% endfor %}
  </ul>
    
</div>