<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

{% include header.html %}

<div class="big-container">
{% include left-toc.html %}

  <div class="card-container">

    <div class="cards full-cards">
    {% for card in page.cards %}
      <a href="{{ card.url | prepend: site.baseurl }}">
        <div class="card full-card">
          <div class="card-icon">
            <i class="li {{card.li-class}}"></i>
          </div>
          <div class="card-text">
            <span class="card-title">{{ card.title }}</span>
            <p>{{ card.description }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>


    <div class="cards half-cards">
      {% for card in page.half-cards %}
      <a href="{{ card.url }}">
        <div class="card half-card">
          <span class="card-title">{{ card.title }}</span>
        </div>
      </a>
      {% endfor %}
    </div>

  </div>

</div>

{% include footer.html %}
</body>

</html>
