/* ===== SITE HEADER ===== */

header {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  /* position & style */
  position: sticky;
  z-index: 100;
  top: 0px;
  width: auto;
  margin: 0 auto;
  padding: 0 50px;
  height: 45px;
  background-color: white;
  border-bottom: 1px solid var(--border-light);
}

div#toc-collapse-btn {
  min-width: 50px;
  height: 44px;
  text-align: center;
  vertical-align: center;
  display: none;
}

div#toc-collapse-btn * {
  vertical-align: middle;
}

div.site-badge {
  min-width: 190px;
  max-width: 230px;
  min-height: 35px;
  max-height: 35px;
}

div.site-badge img {
  vertical-align: middle;
}

div.site-badge img.logz-symbol {
  display: none;
}

span.docs-home-link {
  font-family: var(--title-font);
  font-size: 1.4rem;
  vertical-align: middle;
  margin-left: 5px;
  color: var(--logz-logo-normal);
}

span.docs-home-link a {
  color: currentColor;
}

div.site-badge a:hover {
  opacity: .5;
}

nav.site-links, nav.site-actions {
  font-size: 1rem;
}

nav.site-actions ul {
  padding-left: 0;
}

nav.site-links li, nav.site-actions li {
  display: inline-block;
  padding: 1rem;
  vertical-align: middle;
}

nav.site-links li {
  margin: auto 1rem;
  width: 1fr;
}

nav.site-actions li {
  margin: auto .25rem;
}

nav.site-links a, nav.site-actions a {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  color: var(--text-link-gray);
}

/* ===== SITE FOOTER ===== */

footer {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;

  /* position & style */
  width: auto;
  margin: 0 auto;
  font-size: .9rem;
  border-top: 1px solid var(--border-light);
  padding: 10px 50px;
  height: 30px;
  line-height: 30px;
}

footer div {
  vertical-align: middle;
  display: inline-block;
}

footer > div {
  margin-left: auto;
  margin-right: auto;
}

footer li:not(:last-child) {
  margin-right: 1.25rem;
}



div.social-icons li.icon {
  font-size: 1.25rem;
  text-align: center;
}

div.social-icons a {
  color: var(--text-light);
}

a.atom-feed {
  color: orange !important;
}

/* social icons */
a.facebook:hover {
  color: #4267b2;
}

a.twitter:hover {
  color: #38a1f3;
}

a.youtube:hover {
  color: #ed3833;
}

a.googleplus:hover {
  color: #db4a39;
}

a.linkedin:hover {
  color: #0077b5;
}

a.github:hover {
  color: black;
}

a.atom-feed:hover {
  color: orange;
}