h1, h2, h3, h4, h5, h6, .site-title, .post-title, .inline-header {
  font-weight: 700;
  padding: 0;
  color: var(--heading-normal);
  margin-top: 5rem;
  margin-bottom: 1rem;
  line-height: 100%;
}

h1, h1:first-child {
  font-family: var(--title-font);
  margin-top: 0px;
  margin-bottom: 0;
  margin-right: 1rem;
}

h2, h3, h4, h5, h6, .inline-header {
  font-family: var(--heading-font);
}

h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, .inline-header:first-child {
  margin-top: 1rem;
}

h1, .post-title {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5, h6, .inline-header {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h5, h6 {
  text-transform: uppercase;
  font-weight: 400;
}

.inline-header {
  color: var(--heading-blue-75);
  font-weight: 700;
}

/* Use h6 to introduce procedures. If you need a regular heading, use h5 */
h6 {
  border-bottom: 3px solid var(--tasklist-light);
  width: fit-content;
}