/* ===== LISTS ===== */

/* Alpha nested ordered lists */
ol ol {
  list-style-type: lower-alpha;
}

ol ul {
  list-style-type: disc;
}


/* tasklist formatting */
.tasklist {
  counter-reset: tasklist;
  list-style-type: none;
  padding-left: 0;
}

.tasklist > li {
  counter-increment: tasklist;
  position: relative;
  clear: both;
  margin-left: 45px;
}

.tasklist > li:not(:first-child) {
  margin-top: 4rem;
}

.tasklist > li::before {
  content: counter(tasklist);
  position: absolute;
  display: inline-block;
  margin-left: -45px;
  background-color: var(--tasklist-light);
  border-radius: 50%;
  padding: 0 9px;
  font-weight: 800;
}

.tasklist .firstline, .tasklist.firstline-headline > li > p:first-child {
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
  margin-left: -45px;
  padding-left: 45px;
}

/* horizontal lists */
ul.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

ul.horizontal-list li {
  display: inline;
}

/* normal def lists */
dl, .paramlist {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.paramlist thead {
  display: none;
}

.paramlist td {
  display: block;
}

dt, .paramlist tbody > tr > td:first-child {
  font-weight: 700;
  margin-top: 15px;
}

dd, .paramlist tbody > tr > td:not(:first-child) {
  margin-left: 0;
  margin-left: 15px;
}

/* annotated images */
dl.letter-labels {
  counter-reset: letter-label;
}

dl.letter-labels dt::before {
  content: counter(letter-label, upper-alpha);
  counter-increment: letter-label;

  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  line-height: 27px;

  text-align: center;
  background-color: var(--docs-orange-primary);
  color: text-normal-25;
}

dl.letter-labels dd {
  margin-top: -5px;
  margin-left: 35px;
}

dl:not(.letter-labels) dt:not(:first-child) {
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
}

/* parameter lists */

.required-param::before, .default-param::before {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
}

.required-param::before {
  content: "Required";
  color: var(--infobox-important);
}

.default-param::before {
  color: var(--heading-normal);
  content: "Default: ";
}

.default-param {
  font-weight: 400;
  font-size: .9rem;
}
