/* ===== FONT IMPORTS ===== */
/* Roboto (body) and Titillium (heading) */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,700,700i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i');

/* ===== CSS IMPORTS ===== */
@import url('vars.css');
@import url('logzio-icons.css');
@import url('toc.css');
@import url('search.css');
@import url('info-boxes.css');
@import url('flags.css');
@import url('cards.css');
@import url('code.css');

/* ===== PAGE LAYOUT ===== */

body {
  padding: 0;
  margin: 0 auto;
}

.test {
  color: red !important;
}

div.big-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

header {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  /* position & style */
  position: sticky;
  z-index: 100;
  top: 0px;
  width: auto;
  margin: 0 auto;
  padding: 0 50px;
  height: 45px;
  background-color: white;
  border-bottom: 1px solid var(--border-light);
}

footer {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;

  /* position & style */
  width: auto;
  margin: 0 auto;
  font-size: .9rem;
  border-top: 1px solid var(--border-light);
  padding: 10px 50px;
  height: 30px;
  line-height: 30px;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

div.body-container {
  max-width: 850px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 200px;
}

div.card-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

div.body-container, div.card-container {
  vertical-align: top;
  margin-top: 2rem;
  justify-self: start;
}

/* media queries */

@media (max-width: 630px) {
  #log-in {
    display: none;
  }
}

@media (max-width: 975px) {
/* toc hides at this size */

  header, footer {
    padding: 0 10px;
  }

  div.site-badge {
    min-width: 145px !important;
  }

  div#toc-collapse-btn {
    display: inline-block !important;
  }

  .toc-visibility {
    display: none !important;
  }

  div.toc-container {
    position: fixed;
    width: 300px;
    display: block;
    top: 25px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 50;
    }

  div.site-badge img.logz-logo {
    display: none;
  }

  div.site-badge img.logz-symbol {
    display: inline !important;
  }
}

@media (max-width: 1210px) {
  nav.site-links {
    display: none;
  }

  nav.site-actions {
    padding: 0;
  }
}

/* ===== BASE STYLES ===== */

html {
  font-size: 16px;
}

body, .ui-accordion-content > *:not(h5):not(h6)  {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--text-normal);
}

p {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

code, pre {
  font-family: var(--mono-font);
  font-size: .8rem;
}

h1, h2, h3, h4, h5, h6, .site-title, .post-title, .inline-header {
  font-weight: 400;
  padding: 0;
  color: var(--heading-normal);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h1, h1:first-child {
  font-family: var(--title-font);
  margin-top: 0px;
  margin-bottom: 0;
  margin-right: 1rem;
}

h2, h3, h4, h5, h6, .inline-header {
  font-family: var(--heading-font);
}

h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, .inline-header:first-child {
  margin-top: 1rem;
}

h1, .post-title {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6, .inline-header {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

h5, h6 {
  text-transform: uppercase;
}

/* Use h6 to introduce procedures. If you need a regular heading, use h5 */
h6 {
  color: var(--tasklist-heading);
}

main.page-content img, main.page-content video, .post-content iframe {
  display: block;
  max-width: 90%;
  margin: 1.5rem auto;
  border: 1px solid var(--border-dark);
  border-radius: 2px;
}

main {
  margin-top: 5px;
  border-top: 1px solid var(--border-very-light);
}

.btn-img, .override.btn-img {
  margin-left: 0;
  padding-left: 0;
  border: none;
  border-radius: unset;
}

ol img, ol video {
  margin-left: auto;
  margin-right: auto;
}

.no-border {
  border: none !important;
}


a, a:hover, .ui-accordion-content a {
  color: var(--text-link);
  text-decoration: none;
}

svg.svg-inline--fa, i.li {
  /* add some breathing room to inline font awesome icons */
  margin-left: .1rem;
  margin-right: .1rem;
}

.fancy-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: -2px;
  background: currentColor;
  transition: width .3s;
}

.fancy-link:hover::after {
  width: 100%;
}


/* ===== ONE-OFFS ===== */
.sm {
  font-size: .8rem;
}

.bold {
  font-weight: 700;
}

.ital {
  font-style: italic;
}

.padding-top-10 {
  padding-top: 10px;
}

.updated {
  font-size: .9rem;
}

.border {
  border: 1px solid var(--border-dark);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
}

.background {
  background-color: var(--background-light)
}


/* ===== TABLES ===== */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 2rem auto 2rem 0;

  text-align: left;
}

td, th {
  padding: .25rem .75rem;
}

th {
  color: var(--heading-normal);
}

tr {
  border-bottom: 1px solid #e5e5e5;
}

/* tablesorter styling */
th.tablesorter-header {
  min-width: 75px;
}

th.tablesorter-header:focus {
  outline: none;
}

.tablesorter-header-inner::after {
  font-family: var(--fa);
  padding-left: 10px;
  color: var(--text-link);
}

.tablesorter-headerAsc .tablesorter-header-inner::after {
  content: "\f0d7";
}

.tablesorter-headerDesc .tablesorter-header-inner::after {
  content: "\f0d8"
}


/* ===== LISTS ===== */

/* Alpha nested ordered lists */
ol ol {
  list-style-type: lower-alpha;
}

ol ul {
  list-style-type: disc;
}


/* tasklist formatting */
.tasklist {
  counter-reset(tasklist);
  list-style-type: none;
  padding-left: 0;
}

.tasklist > li {
  counter-increment: tasklist;
  position: relative;
  clear: both;
  margin-left: 45px;
}

.tasklist > li:not(:first-child) {
  margin-top: 4rem;
}

.tasklist > li::before {
  content: counter(tasklist);
  position: absolute;
  display: inline-block;
  margin-left: -45px;

  font-size: 1.5rem;
  color: var(--tasklist-light);
  font-weight: 800;
}

.tasklist > li:first-child::before {
  padding-top: 0;
}

.tasklist .firstline, .tasklist.firstline-headline > li > p:first-child {
  font-weight: 400;
  font-size: 1.2rem;
  display: block;
  border-bottom: 1px solid var(--tasklist-light);
  margin-left: -45px;
  padding-left:  45px;
}

/* horizontal lists */
ul.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

ul.horizontal-list li {
  display: inline;
}

/* normal def lists */
dl {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

dt {
  font-weight: 700;
  margin-top: 15px;
}

dd {
  margin-left: 0;
  margin-left: 15px
}

/* annotated images */
dl.letter-labels {
  counter-reset: letter-label;
}

dl.letter-labels dt::before {
  content: counter(letter-label, upper-alpha);
  counter-increment: letter-label;

  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  line-height: 27px;

  text-align: center;
  background-color: var(--docs-orange-primary);
  color: white;
}

dl.letter-labels dd {
  margin-top: -5px;
  margin-left: 35px;
}

dl:not(.letter-labels) dt:not(:first-child) {
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
}

/* parameter lists */

.required-param::before, .default-param::before {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
}

.required-param::before {
  content: "Required";
  color: var(--infobox-important);
}

.default-param::before {
  color: var(--heading-normal);
  content: "Default: ";
}

.default-param {
  font-weight: 400;
  font-size: .9rem;
}

div#toc-collapse-btn {
  min-width: 50px;
  height: 44px;
  text-align: center;
  vertical-align: center;
  display: none;
}

div#toc-collapse-btn * {
  vertical-align: middle;
}

div.site-badge {
  min-width: 190px;
  max-width: 230px;
  min-height: 35px;
  max-height: 35px;
}

div.site-badge img {
  vertical-align: middle;
}

div.site-badge img.logz-symbol {
  display: none;
}

span.docs-home-link {
  font-family: var(--title-font);
  font-size: 1.4rem;
  vertical-align: middle;
  margin-left: 5px;
  color: var(--logz-logo-normal);
}

span.docs-home-link a {
  color: currentColor;
}

div.site-badge a:hover {
  opacity: .5;
}

nav.site-links, nav.site-actions {
  font-size: 1rem;
}

nav.site-actions ul {
  padding-left: 0;
}

nav.site-links li, nav.site-actions li {
  display: inline-block;
  padding: 1rem;
  vertical-align: middle;
}

nav.site-links li {
  margin: auto 1rem;
  width: 1fr;
}

nav.site-actions li {
  margin: auto .25rem;
}

nav.site-links a, nav.site-actions a {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  color: var(--text-link-gray);
}

/* ===== SITE FOOTER ===== */

footer div {
  vertical-align: middle;
  display: inline-block;
}

footer > div {
  margin-left: auto;
  margin-right: auto;
}

footer li:not(:last-child) {
  margin-right: 1.25rem;
}



div.social-icons li.icon {
  font-size: 1.25rem;
  text-align: center;
}

div.social-icons a {
  color: var(--text-light);
}

a.atom-feed {
  color: orange !important;
}

/* social icons */
a.facebook:hover {
  color: #4267b2;
}

a.twitter:hover {
  color: #38a1f3;
}

a.youtube:hover {
  color: #ed3833;
}

a.googleplus:hover {
  color: #db4a39;
}

a.linkedin:hover {
  color: #0077b5;
}

a.github:hover {
  color: black;
}

a.atom-feed:hover {
  color: orange;
}


/* ===== CONTRIBUTORS LIST ===== */

div.article-info-container {
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.article-info-container > div {
  display: flex;
}

.article-info-container > div > *:not(:last-child), .article-info-container > div:not(:last-child) {
  margin-right: 1rem;
}

div.contributor-list svg {
  margin-right: .25rem;
}

/* ===== CONTRIBUTORS ===== */

div.contributor-title {
  font-size: 1.2rem;
}

div.contributor.icons {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  padding-top: .25rem;
}

div.contributor.icons a {
  margin-right: .5rem;
  color: var(--text-light);
}

.contributor.icons a:hover {
  color: var(--text-link);
}

div.contributions {
  margin-top: 1.5rem;
}

div.contributions ul {
  padding-left: 0;
  list-style-type: none;
  margin-right: 5px;
}

div.contributions ul > li {
  padding-bottom: .5rem;
}

/* ===== FEEDBACK BUTTONS ===== */

.feedback-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 4rem;
  border-top: 1px solid var(--border-light);
  padding-top: .25rem;
}

.feedback-container > .feedback.inline-header {
  margin-top: 0;
  color: var(--tasklist-light);
}

.feedback-container > *:not(:last-child) {
  margin-right: 2rem;
}

.feedback.button a {
  color: unset;
}

.slackin {
  align-self: center;
  padding: unset;
  margin-bottom: -1rem;
  margin-left: auto;
}

.feedback.button.edit {
  color: var(--logz-logo-normal);
}

.feedback.button.issue {
  color: rgb(var(--app-orange-primary));
}

.feedback.button svg {
  margin-bottom: -2px;
  margin-right: 1px;
  fill: currentColor;
}

/* ===== RELATED LINKS ===== */

div.related-links-container div {
  margin-bottom: 2rem;
  font-size: .8rem;
}

div.related-links-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.related-links-container span {
  font-weight: 700;
  color: var(--heading-normal);
}

/* ===== ACCORDION OVERRIDES ===== */
/* Accordion is styled from jquery ui base css.
  The styles here override the defaults */

  .ui-accordion-header {
    background-color: unset;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--border-very-light);
    outline: none;
    font-weight: 400;
    color: var(--heading-normal);
  }

  .ui-accordion-header:not(.ui-accordion-header-active):hover {
    border-bottom-color: currentColor;
    font-weight: 600;
  }

  .ui-accordion-header-active {
    color: var(--heading-normal);
    font-weight: 600;
    border-bottom: 3px solid currentColor;
  }

.ui-accordion-header::before, .ui-accordion-header-active::before {
  font-family: var(--fa);
  font-weight: 700;
  font-size: .7rem;
}

.ui-accordion-header::before {
  content: "\f054";
  margin-right: 15px;
}

.ui-accordion-header-active::before {
  content: "\f078";
  margin-right: 12px;
}

.ui-accordion-content p  {
  font-family: unset;
  font-size: unset;
}

.branching-container {
  width: 100%;
}

.branching-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px 0 0 0;
  padding: 0;
  background: none;
  list-style-type: none;
  border-bottom: 1px solid var(--border-very-light);
}

ol .branching-tabs {
  margin-top: 25px;
}

.branching-tabs li {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: -4px;
  color: var(--text-light);
}

.branching-tabs li.active, .branching-tabs li:hover {
  border-bottom: 2px solid currentColor;
  margin-bottom: -1px;
}

.branching-tabs li:hover {
  color: var(--heading-normal-50);
}

.branching-tabs li.active {
  font-weight: 400;
  color: var(--heading-normal);
}

.branching-tabs li > a {
  color: unset;
}

.branching-container > div {
  padding-top: 12px;
}

/* ===== LOG SHIPPING PAGES ===== */

#on-this-page-toc {
  background-color: var(--background-very-light);
  border: 1px solid var(--border-very-light);
  border-radius: 5px;
  padding-left: 15px;
}

#on-this-page-toc div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0;
  margin-top: 1rem;
  line-height: 1.25rem;
}

#on-this-page-toc div a {
  display: block;
  font-size: 1rem;
  margin-right: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.breadcrumbs {
  margin-bottom: 1rem;
  font-size: .9rem;
  color: var(--text-link-gray);
}

.breadcrumbs span:not(:last-child)::after {
  content: " > ";
}

/* ===== COPY BUTTON ===== */

div.highlighter-rouge {
  position: relative;
}

.copy-btn {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;

  padding: 1px;
  margin: 0;

  opacity: .25;
  transition: opacity .5s ease;
}

.copy-btn::before {
  font-size: .75rem;
  font-weight: 700;
  padding: 0 4px;
  background-color: var(--text-normal);
  color: white;
  margin-top: -3px;
  border-radius: 6px;
}

.copy-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.copy-btn:hover::before {
  content: "Copy";
}

.copy-btn:hover::before {
  content: "Copy";
}

.copy-btn.copied {
  opacity: 1;
}

.copy-btn.copied::before {
  content: "Copied!";
}

/* ===== GITHUB AVATARS ===== */

.avatar.avatar-small {
  display: inline-block;
  margin: 0 0 0 0;
  vertical-align: middle;
  border-radius: 50%;
}

h1 .avatar.avatar-small {
  margin-right: .75rem;
  margin-top: -4px;
}

.contributor-list .avatar.avatar-small {
  margin: 0 1px;
}

/* ===== OPEN SOURCE BUTTON ===== */

.open-source-btn {
  color: var(--text-normal);
  border: 1px solid silver;
  width: fit-content;
  border-radius: 3px;
  padding: 0px 4px;
  font-size: .85rem;
  font-weight: 600;
  background: linear-gradient(to bottom, white, var(--background-light));
  line-height: 1;
}

.open-source-btn:hover {
  background: linear-gradient(to bottom, var(--background-very-light), silver);
}

/* ===== FPO - IMAGE PLACEHOLDERS ===== */
.fpo {
  display: flex;
  max-width: 80%;
  height: 100px;
  margin: 1.5rem auto;
  border: 1px solid var(--border-dark);
  border-radius: 2px;
  background-color: var(--background-light);
  justify-content: center;
}

.fpo::after {
  content: "[ You really should do something about this placeholder. ]";
  justify-self: center;
  align-self: center;
  text-align: center;
  color: var(--text-code);
  font-weight: 700;
}

.fpo.fpo-1::after {
  content: "[ Nothing lasts forever, including this placeholder. ]";
}

.fpo.fpo-2::after {
  content: "[ You are irreplacable. This placeholder, though... ]";
}

.fpo.fpo-3::after {
  content: "[ A picture is worth a thousand words. This placeholder... not so much. ]";
}

.fpo.fpo-4::after {
  content: "[ Picture this: A rustic hunting lodge, my latest kill roasting over the fire, and this placeholder isn't just a placeholder. ]"
}