body {
  margin: 0;
  padding: 0;
}

iframe {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

iframe.header-frame {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  height: 46px;
  background-color: white;
}


/* Override redoc styles  */
div.api-info p a {
  border-radius: 3px;
}