/* ===== FONT IMPORTS ===== */
/* Roboto (body) and Titillium (heading) */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Logz.io icons */
@font-face {
  font-family: "Logzio Icons";
  src: url(../fonts/logzio-icon-font.ttf);
}

/* ===== PAGE LAYOUT ===== */

body {
  padding: 0;
  margin: 0;
}

div.big-container, div.home-page-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas:
    "toc content";
  grid-column-gap: 50px;
  align-items: start;
}

header {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  /* position & style */
  position: sticky;
  z-index: 100;
  top: 0px;
  width: auto;
  margin: 0 auto;
  padding: 0 50px;
  height: 45px;
  background-color: white;
  border-bottom: 1px solid #dddddd;
}

footer {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  /* position & style */
  width: auto;
  margin: 0 auto;
  font-size: .8rem;
  border-top: 1px solid #dddddd;
  padding: 10px 50px;
  height: 30px;
  line-height: 30px;
}

div.toc-container {
  grid-area: toc;
  align-self: stretch;
  background-color: #fafafa;
  padding-left: 1rem;
}

div.full-width {
  grid-column: 1 / -1 !important;
}

div.body-container {
  max-width: 800px;
}

div.card-container {
  max-width: 1000px;
}

div.body-container, div.card-container {
  vertical-align: top;
  padding-bottom: 200px;
  margin-top: 2rem;
  grid-area: content;
  justify-self: start;
}

/* ===== DOCS HOME CARDS ===== */

div.card-container a {
  margin: 10px;
}

div.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.card {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  padding: 14px;
  margin: 0;
  width: 250px;
  text-align: center;
}

div.card:hover {
  border-color: #53585f;
}

div.full-card {
  height: 170px;
}

div.half-card {
  height: 50px;
  display: flex;
  align-items: center;
}

div.full-card div.card-text {
  display: block;
  padding: 0;
}

span.card-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #296386;
  margin: auto;
}

div.full-card span.card-title {
  margin-top: 14px;
}

div.card p {
  font-size: .85rem;
  line-height: 1.2rem;
  width: 85%;
  margin: auto;
  color: #53585f;
}

div.card-icon {
  display: block;
  margin: 14px auto;
  padding: 0;
}

div.card-icon i {
  width: 50;
  height: 50;
  vertical-align: middle;
}

div.card-icon i::before {
  color: #009cbd77;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

/* ===== BASE STYLES ===== */

html {
  font-size: 16px;
}

body, .ui-accordion-content > *:not(h5):not(h6)  {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #53585f;
}

code, pre {
  font-family: "Source Code Pro", monospace;
  font-size: .8rem;
}

h1, h2, h3, h4, h5, h6, .site-title, .post-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  padding: 0;
  color: #296386;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 1rem;
}

h1, .post-title {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
  font-weight: 700;
}

/* Use h6 to introduce procedures. If you need a regular heading, use h5 */
h6 { 
  color: #ff971c;
}

main.page-content img, main.page-content video {
  display: block;
  max-width: 80%;
  min-width: 400px;
  margin: 1.5rem auto;
  border: 1px solid #296386;
  border-radius: 2px;
}

ol img, ol video {
  margin-left: inherit !important;
}

img.no-border {
  border: none;
}

a, a:hover, .ui-accordion-content a {
  color: #009cbd;
  text-decoration: none;
}

svg.svg-inline--fa, i.li {
  /* add some breathing room to inline font awesome icons */
  margin-left: .1rem;
  margin-right: .1rem;
}

/* ===== CODE BLOCKS ===== */

code {
  color: #e53935;
}

div.highlighter-rouge {
  margin: 2rem auto;
}

div.highlighter-rouge, code {
  border: 1px solid #53585f1a;
  background-color: #53585f0a;
  padding: 1px 2px;
  margin-left: .1rem;
  margin-right: .1rem;
  border-radius: 2px;
}

div.highlighter-rouge code {
  background: none;
  border: none;
}

pre.highlight {
  margin: 0;
  padding: .5rem;
}

/* anchorjs icon */
.anchor-icon, .anchor-icon:hover {
  color: #f0f0f0;
}

/* ===== TABLES ===== */

table {
  border-collapse: collapse;
  border-spacing: 0;

  margin: 2rem auto;

  text-align: left;
}

td, th {
  padding: .25rem .75rem;
}

th {
  color: #296386;
}

td {
  border-bottom: 1px solid silver;
}


/* tablesorter styling */
th.tablesorter-header {
  min-width: 75px;
}

th.tablesorter-header:focus {
  outline: none;
}

.tablesorter-header-inner::after {
  font-family: "Font Awesome 5 Free";
  padding-left: 10px;
  color: #009cbd;
}

.tablesorter-headerAsc .tablesorter-header-inner::after {
  content: "\f0d7";
}

.tablesorter-headerDesc .tablesorter-header-inner::after {
  content: "\f0d8"
}


/* ===== LISTS ===== */

/* Alpha nested ordered lists */
ol ol {
  list-style-type: lower-alpha;
}

ol ul {
  list-style-type: disc;
}

/* horizontal lists */
ul.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

ul.horizontal-list li {
  display: inline;
}

/* normal def lists */
dl {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

dt {
  font-weight: 700;
  grid-column: 1 / 2;
}

dd {
  grid-column: 2 / 3;
  margin-left: 0;
  float: left;
}

/* numbers for annotated images */
dl.letter-labels {
  counter-reset: letter-label;
}

dl.letter-labels dt {
  text-indent: -1.5rem;
  padding-left: 1.5rem;
}

dl.letter-labels dt::before {
  content: counter(letter-label, upper-alpha);
  counter-increment: letter-label;
  text-indent: 0;
  margin-right: .3rem;
}

/* ===== SEARCH ===== */

div.search-container {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  height: 35px;
}

div.search-container input.addsearch, input.search {
  height: 35px;
  width: 270px;
  background: #f0f0f0;
  border: none;
  border-radius: 3px;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 30px;
}

div.search-container svg {
  position: absolute;
  top: 35%;
  margin-left: 10px;
  vertical-align: middle;
  z-index: 1;
}

div.search-results-header {
  position: fixed !important;
  top: 42px;
  bottom: 15px;
  right: 15px;
  max-width: 650px;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  z-index: 500;
  /* display: none; */

  overflow: auto !important;
}

div.search-results-header > p {
  padding: 0;
  margin: 0;
  font-size: .75rem;
  color: #c5c5c5;
  font-style: italic;
}

div.search-results-header > ul {
  list-style: none;
  padding: 0;
}

li.lunrsearchresult {
  line-height: 1.15rem;
  margin-bottom: 1rem;
}

li.lunrsearchresult .title {
  /* font-size: 1rem; */
  font-weight: 700;
}

li.lunrsearchresult .body {
  font-size: .85rem;
  line-height: 1.15rem;
}

li.lunrsearchresult .url {
  font-size: .75rem;
}

/* ===== FEATURE BOXES ===== */

div.feature-box {
  width: 300px;
  border: 1px solid gray;
  margin: auto;
  padding: 0 .5rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "availability availability availability"
    "community pro enterprise";
  color: #dfdfdf;
}

div.feature-box > span {
  text-align: center;
  font-weight: 400;
  font-size: .75rem;
}

span.available-in {
  grid-area: availability;
  color: gray;
}

span.available-in::before {
  content: "" !important;
}

div.feature-box > span::before {
  font-family: "Font Awesome 5 Free";
  white-space: pre;
  font-size: 1rem;
  content: "\f058";
  margin-right: .3rem;
  font-weight: 900;
}

span.community {
  grid-area: community;
}

span.community.yes {
  color: #5eb4e5;
}

span.pro {
  grid-area: pro;
}

span.pro.yes {
  color: #ffbd1f;
}

span.enterprise {
  grid-area: enterprise;
}

span.enterprise.yes {
  color: #53cbb2;
}

/* ===== INFO BOXES ===== */

div.info-box {
  width: 400px;
  margin: 2rem auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: .5rem;
}

div.info-box ul {
  padding-left: 20px;
}

div.info-box > p::before {
  font-weight: 700;
  display: block;
  margin-bottom: .5rem;
}

div.info-box > p {
  margin: 0;
  font-size: .85rem;
  line-height: 1.2rem;
}

div.info-box > p > p {
  margin-top: .5rem;
  margin-bottom: 0;
}

/* --- info-box colors ---
                  color
gotcha (orange)   #ff971c
warning (red)     #d94141
tip (green)       #5abf4d
note (blue)       #2e97e5   */

/* .warning */
div.info-box.warning {
  border-color: #d94141;
}

div.info-box.warning > p::before {
  content: "Warning   ";
  color: #d94141;
}

/* .note */
div.info-box.note {
  border-color: #2e97e5;
}

div.info-box.note > p::before {
  content: "Note   ";
  color: #2e97e5;
}

div.info-box.note.notes > p::before {
  content: "Notes";
}

/* .gotcha */
div.info-box.gotcha {
  border-color: #ff971c;
}

div.info-box.gotcha > p::before {
  content: "Gotcha   ";
  color: #ff971c;
}

/* .tip */
div.info-box.tip {
  border-color: #5abf4d;
}

div.info-box.tip > p::before {
  content: "Pro Tip   ";
  color: #5abf4d;
}

/* ===== SITE HEADER ===== */

div.site-badge {
  min-width: 190px;
  max-width: 190px;
  min-height: 35px;
  max-height: 35px;
}

div.site-badge img {
  vertical-align: middle;
}

span.docs-home-link {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-left: 5px;
  color: #0089b1;
}

span.docs-home-link a {
  color: currentColor;
}

div.site-badge a:hover {
  opacity: .5;
}

nav.site-links, nav.site-actions {
  font-size: .85rem;
}

nav.site-links li, nav.site-actions li {
  display: inline-block;
  padding: 1rem;
  vertical-align: middle;
}

nav.site-links li {
  margin: auto 1rem;
  width: 1fr;
}

nav.site-actions li {
  margin: auto .25rem;
}

nav.site-links a, nav.site-actions a {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  color: #656565;
}

/* ===== SITE FOOTER ===== */

footer * {
  vertical-align: middle;
  display: inline-block;
}

footer li {
  margin-right: 1.25rem;
}

div.social-icons li.icon {
  font-size: 1.25rem;
  text-align: center;
}

div.social-icons a {
  color: currentColor;
}

a.atom-feed {
  color: orange !important;
}

/* ===== ALL-PAGES TOC STYLING ===== */

nav.all-pages-toc {
  /* positioning */
  display: block;
  height: 100%;
  margin: 0;
  top: 0;

  /* text */
  color: #53585f;
  font-family: 'Nunito Sans', sans-serif;
}

nav.all-pages-toc ul {
  list-style: none;
  padding: 0;
}

ul.toc-parent {
  font-size: .75rem;
  text-transform: uppercase;
}

ul.toc-child {
  text-transform: none;
  font-size: .85rem;
}

ul.toc-grandchild {
  text-transform: none;
  font-size: .75rem;
  margin-left: 1.25rem;
  display: none;
}

span.toc-heading {
  display: block;
  padding-left: .5rem;
  margin-left: -.5rem;
}

ul.toc-parent span.toc-heading {
  margin-top: 2rem;
  margin-bottom: 0;
}

ul.toc-child span.toc-heading {
  margin-top: 0;
  padding-top: .1rem;
  padding-bottom: .1rem;
}

ul.toc-grandchild span.toc-heading {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

li.toc-active > span.toc-heading {
  background-color: #e1e1e1;
}

nav.all-pages-toc a {
  color: #53585f;
  padding: .1rem .25rem .1rem 0;
}

.external-link::after {
  font-family: "Logzio Icons";
  content: "\e921";
  color: silver;
  font-size: .7rem;
  margin-left: .25rem;
}

span.collapse-button {
  display: inline;
  float: right;
  padding-right: 1.5rem;
}

span.collapse-button path {
  transform: rotate(0deg);
  transition: all .1s ease-out;
  transform-origin: center;
}

span.collapse-button.show path {
  transform: rotate(90deg);
  transition: all .1s ease-out;
  transform-origin: center;
}

ul.toc-child li span.toc-heading:hover {
  background-color: #e1e1e1;
}

/* ===== CONTRIBUTORS LIST ===== */

div.article-info-container {
  font-size: .9rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

div.contributor-list svg {
  margin-right: .25rem;
}

div.contributor-list {
  line-height: 1.25rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

/* ===== CONTRIBUTOR PROFILE PAGES ===== */

div.contributor-title {
  font-size: 1.2rem;
  color: #263238;
}

div.contributor.icons {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: .25rem;
}

div.contributor.icons a {
  margin-right: .5rem;
}

div.contributions {
  margin-top: 1.5rem;
}

div.contributions ul {
  padding-left: 0;
  list-style-type: none;
}

div.contributions ul > li {
  padding-bottom: .5rem;
}

/* ===== GITHUB BUTTONS ===== */

div.community-container a {
  display: inline-block;
  margin-left: 5px;
}

span.community.button svg {
  fill: currentColor;
  margin-right: 1px;
  margin-bottom: 2px;
}

span.community.button {
  font-size: 11px;
  font-weight: 700;
  padding: 3px 5px;
}

span.community.button:hover {
  border-bottom: 2px solid currentColor;
}

span.community.button.slackin {
  border-bottom: none;
  padding: 0;
}

span.community.button * {
  vertical-align: middle;
}

span.community.button.edit {
  color: #2e97e5;
}

span.community.button.issue {
  color: #d94141;
}

/* ===== RELATED LINKS ===== */

div.related-links-container div {
  margin-bottom: 2rem;
  font-size: .8rem;
}

div.related-links-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.related-links-container span {
  font-weight: 700;
  color: #296386;
}

/* ===== SYNTAX HIGHLIGHTING ===== */

  .highlight .c {
    color: #fac863;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #fac863;
    font-style: italic; }
  .highlight .cp {
    color: #fac863;
    font-weight: bold; }
  .highlight .c1 {
    color: #fac863;
    font-style: italic; }
  .highlight .cs {
    color: #fac863;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #e15a60; }
  .highlight .gh {
    color: #fac863; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #d4d4d4; }
  .highlight .gp {
    color: #d4d4d4; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #d4d4d4; }
  .highlight .gt {
    color: #e15a60; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #6699cc;
    font-weight: bold; }
  .highlight .m {
    color: #5fb3b3; }
  .highlight .s {
    color: #e15a60; }
  .highlight .na {
    color: #5fb3b3; }
  .highlight .nb {
    color: #6699cc; }
  .highlight .nc {
    color: #6699cc;
    font-weight: bold; }
  .highlight .no {
    color: #5fb3b3; }
  .highlight .ni {
    color: #c594c5; }
  .highlight .ne {
    color: #e15a60;
    font-weight: bold; }
  .highlight .nf {
    color: #e15a60;
    font-weight: bold; }
  .highlight .nn {
    color: #d4d4d4; }
  .highlight .nt {
    color: #6699cc; }
  .highlight .nv {
    color: #5fb3b3; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #d4d4d4; }
  .highlight .mf {
    color: #5fb3b3; }
  .highlight .mh {
    color: #5fb3b3; }
  .highlight .mi {
    color: #5fb3b3; }
  .highlight .mo {
    color: #5fb3b3; }
  .highlight .sb {
    color: #e15a60; }
  .highlight .sc {
    color: #e15a60; }
  .highlight .sd {
    color: #e15a60; }
  .highlight .s2 {
    color: #e15a60; }
  .highlight .se {
    color: #e15a60; }
  .highlight .sh {
    color: #e15a60; }
  .highlight .si {
    color: #e15a60; }
  .highlight .sx {
    color: #e15a60; }
  .highlight .sr {
    color: #99c794; }
  .highlight .s1 {
    color: #e15a60; }
  .highlight .ss {
    color: #c594c5; }
  .highlight .bp {
    color: #fac863; }
  .highlight .vc {
    color: #5fb3b3; }
  .highlight .vg {
    color: #5fb3b3; }
  .highlight .vi {
    color: #5fb3b3; }
  .highlight .il {
    color: #5fb3b3; }


/* ===== LOGZIO ICON FONT ===== */

i.li {
  font-family: "Logzio Icons";
  font-style: normal;
  font-size: .85rem;
  vertical-align: text-top;
}

i.li-bar-graph::before {
  content: "\1f31b";
}

i.li-eye::before {
  content: "\1f366";
}

i.li-ellipsis-v::before {
  content: "\e906";
  padding-left: .2rem;
  padding-right: .2rem;
}

i.li-pencil::before {
  content: "\e907";
}

i.li-trash::before {
  content: "\e912";
}

i.li-plus::before {
  content: "\e913";
}

i.li-wrench::before {
  content: "\e915";
}

i.li-x::before {
  content: "\e918";
}

i.li-plane::before {
  content: "\e93b";
}

i.li-bell::before {
  content: "\e93c";
}

i.li-signal::before {
  content: "\e93f";
}

i.li-gear::before {
  content: "\e940";
}

i.li-minus::before {
  content: "\e943";
}

i.li-scroll::before {
  content: "\e953";
  font-size: 1.1rem;
}

i.li-play::before {
  content: "\e956"
}

i.li-stop::before {
  content: "\e957"
}

i.li-clear::before {
  content: "\e927"
}

/* ===== LETTER LABELS =====  */

i.ll, dl.letter-labels dt::before {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: -.3rem;

  text-align: center;

  background-color: #ff971c;
  border-radius: 50%;
  font-weight: 700;
  color: white;
  font-style: normal;
}

/* ===== ACCORDION OVERRIDES ===== */
/* Accordion is styled from jquery ui base css.
  The styles here override the defaults */

.ui-accordion-header-active {
  background-color: #296386;
  color: white;
  border: none;
}

.ui-accordion-content p:not(info-box p)  {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
}