---
layout: none
---

@font-face {
  font-family: "Logzio Icons";
  src: url(../fonts/logzio-icon-font.ttf);
}

i.li {
  font-family: "Logzio Icons";
  font-style: normal;
  font-size: .85rem;
}

{% for char in site.data.logzio-icons %}

i.{{char.class}}::before {
  content: "{{char.escape-sequence}}";
  {{ char.additional-css -}}
}
{% endfor -%}

/* @import url("//d1azc1qln24ryf.cloudfront.net/131260/logzio-font/style-cf.css?kmbgn2") */