<div class="article-info-container">
  {% if page.contributors %}
  <div class="contributor-list"><i class="fas fa-users"></i>
    {%- for contributor in page.contributors -%}
      {% assign contributor_page = site.contributors | where: 'slug', contributor | first %}
      <a href="{{ contributor_page.url }}">{{ contributor_page.title }}</a>
      {%- unless forloop.last -%}, {%- endunless -%}
    {%- endfor -%}
  </div>
  {% endif %}
  
  {% if site.public == true %}
  {%- capture repo_path -%}
  {{site.github.org_url | append: site.github.repo_name}}
  {%- endcapture -%}
  
  {%- capture edit_path -%}
  {{ repo_path | append: "/tree" | append: site.github.edit_branch }}{{site.source | remove_first: "."}}{% if site.collections_dir and page.collection %}{{site.collections_dir | prepend: "/" }}{% endif %}
  {%- endcapture -%}
  
  <div class="community-container">
    {% unless page.community-info == false %}
    {% if site.edit_enabled == true %}
    <a href="{{ edit_path }}/{{ page.path }}">
      <span class="community button edit">
        {% octicon pencil %} Edit
      </span>
    </a>
    {% endif %}

    <a href="{{ repo_path }}/issues">
      <span class="community button issue">
        {% octicon issue-opened %} Issue
      </span>
    </a>

  {% if site.slackin_enabled == true %}
  <!-- <a href=""> -->
    <span class="community button">
      Slackin placeholder
    </span>
  <!-- </a> -->
  {% endif %}

  {% endunless %}
</div>
{% endif %}
</div>