<div class="article-info-container">
  <div class="contributor-list">
  {% if page.contributors %}
    <i class="fas fa-users"></i> Contributors:&nbsp;
    {%- for contributor in page.contributors -%}
      {% assign contributor_page = site.contributors | where: 'slug', contributor | first %}
      {%- unless contributor_page == null -%}
        {% unless forloop.first %}, {% endunless %}
      {%- endunless -%}
      <a href="{{ contributor_page.url }}">{{ contributor_page.title }}</a>
    {%- endfor -%}
  {% endif %}
  </div>

  {% if site.public == true %}
  {%- capture repo_path -%}
  {{site.github.org_url | append: site.github.repo_name}}
  {%- endcapture -%}

  {%- capture edit_path -%}
  {{ repo_path | append: "/tree" | append: site.github.edit_branch }}{{site.source | remove_first: "."}}{% if site.collections_dir and page.collection %}{{site.collections_dir | prepend: "/" }}{% endif %}
  {%- endcapture -%}

  {%- capture issue_path -%}
  {{ repo_path | append: "/issues/new" }}
  {%- if site.github.issue_template -%}
  ?template={{site.github.issue_template}}.md
  {%- endif -%}
  {%- endcapture -%}

  <div class="community-container">
    {% unless page.community-info == false or layout.community-info == false %}
    {% if site.edit_enabled == true %}
    <a href="{{ edit_path }}/{{ page.path }}" target="_blank">
      <div class="community button edit">
        <span class="icon">{% octicon pencil %}</span>
        <span>Edit</span>
      </div>
    </a>
    {% endif %}

    <a href="{{ issue_path }}" target="_blank">
      <div class="community button issue">
        <span class="icon">{% octicon issue-opened %}</span>
        <span>Issue</span>
      </div>
    </a>

  {% if site.slackin_enabled == true %}
    <div class="community button slackin">
        <script async defer src="https://community-slack.logz.io/slackin.js"></script>
    </div>
  {% endif %}

  {% endunless %}
</div>
{% endif %}
</div>