<div class="article-info-container">
  <div class="contributor-list">
  {% if page.contributors %}
    <i class="fas fa-users"></i> Contributors:&nbsp;
    {%- for c in page.contributors -%}
      {%- assign contributorPage = site.contributors | where: 'slug', c | first -%}
      {%- unless contributorPage == nil -%}
        {%- unless forloop.first -%}, {% endunless -%}
      {%- endunless -%}
      <a href="{{ contributorPage.url }}">{{ contributorPage.title }}</a>
    {%- endfor -%}
  {%- endif %}
  </div>

  {%- assign repoPath = site.github.org_url | append: site.github.repo_name -%}

  {%- capture editPath -%}
    {{ repoPath | append: "/tree" | append: site.github.edit_branch }}{{site.source | remove_first: "."}}
  {%- endcapture -%}

  {%- capture issuePath -%}
    {{ repoPath | append: "/issues/new" }}
    {%- if site.github.issue_template -%}
      ?template={{site.github.issue_template}}.md
    {%- endif -%}
  {%- endcapture -%}

  <div class="community-container">
  {%- unless page.community-info == false or layout.community-info == false %}
    <div class="community button edit">
      <a class="fancy-link" href="{{ editPath }}/{{ page.path }}" target="_blank">
        <span class="icon">{% octicon pencil %}</span>
        <span>Contribute</span>
      </a>
    </div>

    <div class="community button issue">
      <a class="fancy-link" href="{{ issuePath }}" target="_blank">
        <span class="icon">{% octicon issue-opened %}</span>
        <span>Report an issue</span>
      </a>
    </div>

    {% if site.slackin_enabled == true -%}
    <div class="community button slackin">
        <script async defer src="https://community-slack.logz.io/slackin.js"></script>
    </div>
    {%- endif %}

  {%- endunless %}
</div>
</div>