{%- assign repoPath = site.github.org_url | append: site.github.repo_name -%}

{%- capture editPath -%}
  {{ repoPath | append: "/tree" | append: site.github.edit_branch }}{{site.source | remove_first: "."}}
{%- endcapture -%}

{%- capture issuePath -%}
  {{ repoPath | append: "/issues/new" }}
  {%- if site.github.issue_template -%}
    ?template={{site.github.issue_template}}.md
  {%- endif -%}
{%- endcapture -%}

<div class="community-container">

  <div class="community button edit">
    <a class="fancy-link" href="{{ editPath }}/{{ page.path }}" target="_blank">
      <span class="icon">{% octicon mark-github %}</span>
      <span>Edit this page</span>
    </a>
  </div>

  <div class="community button issue">
    <a class="fancy-link" href="{{ issuePath }}" target="_blank">
      <span class="icon">{% octicon issue-opened %}</span>
      <span>Report an issue</span>
    </a>
  </div>
</div>