{%- comment -%}
*   This include is called if the page has `open-source` in the frontmatter.
*
*   If `open-source` is in page frontmatter, the open source note is shown at
*   the top of the page.
*   It needs this structure:
*     open-source:
*       - title: <project title>
*         github-repo: <github repo name (last part of repo url)>
*       - title: <project 2 title>
*         github-repo: <repo 2 name>
*
*         {%- endcomment -%}

{%- if page.open-source -%}

<div class="open-source-projects">

  <div class="available-in">Projects:</div>

{%- for project in page.open-source -%}
  {%- assign projectTitle = project.title -%}
  {%- assign projectUrl = page.open-source.github-repo | prepend: "https://github.com/logzio/" -%}

<a class="fancy-link" href="{{ projectUrl }}">
    <i class="fab fa-github"></i> {{ projectTitle }}
</a>
{%- endfor -%}

</div>

{%- endif -%}