{%- assign thisPath = page.path -%}
{%- unless page.collection == nil -%}
  {%- assign thisPath = thisPath | prepend: "logzio_collections/" -%}
{%- endunless -%}
{%- assign thisPath = thisPath | prepend: "_source/" -%}

{%- assign thisRecord = site.data.stale-list.contents | where: "filepath", thisPath | first %}
{%- case page.show-date -%}
  {%- when false -%}
    {%- assign pageDate = nil -%}
  {%- else -%}
    {%- assign pageDate = page.updated | default: thisRecord.committed -%}
{%- endcase -%}

{%- if pageDate %}
  <div class="updated">Updated {{pageDate | date: "%b %e, %Y" }}</div>
{%- endif -%}