<p>
  Test your new configuration
  by temporarily pointing your shipper to a testing listener for your region
  (in the table below).
  The test listener is using the new certificate.
  You’ll know the configuration is good
  (and that it will work after May 28)
  if you see the data coming into your account.
</p>

<table>
  <tr>
    <th>Region</th>
    <th>Test URL</th>
    <th>Production URL</th>
  </tr>
  <tr>
    <td>us-east-1 — US East (Northern Virginia)</td>
    <td>listener-us-catest.logz.io</td>
    <td>listener.logz.io</td>
  </tr>
  <tr>
    <td>ap-southeast-2 — Asia Pacific (Sydney)</td>
    <td>listener-au-catest.logz.io</td>
    <td>listener-au.logz.io</td>
  </tr>
  <tr>
    <td>ca-central-1 — Canada (Central)</td>
    <td>listener-ca-catest.logz.io</td>
    <td>listener-ca.logz.io</td>
  </tr>
  <tr>
    <td>eu-central-1 — Europe (Frankfurt)</td>
    <td>listener-eu-catest.logz.io</td>
    <td>listener-eu.logz.io</td>
  </tr>
  <tr>
    <td>westeurope — West Europe (Netherlands)</td>
    <td>listener-nl-catest.logz.io</td>
    <td>listener-nl.logz.io</td>
  </tr>
  <tr>
    eu-west-2 — Europe (London) | listener-uk-catest.logz.io | listener-uk.logz.io
  </tr>
  | westus2 — West US 2 (Washington) | listener-wa-catest.logz.io | listener-wa.logz.io |
</table>

<p>
  After you’ve confirmed the configuration is good,
  revert your shipper to the production URL for your region
  and restart the shipper.
  Once again, you should confirm
  the data is coming into your account as expected.
</p>
