---
layout: none
image: https://dytvr9ot2sszz.cloudfront.net/logz-docs/social-assets/docs-social.jpg
description: Meet Logz.io's API
---

swagger: '2.0'
schemes: [ https ]
host: api.logz.io
x-servers:
{%- for region in site.data.logzio-regions %}
  - url: https://api
  {%- if region.suffix -%}
    -{{region.suffix}}
  {%- endif -%}
  .logz.io/
    description: {{region.title}}
{% endfor -%}
basePath: /
produces: [ application/json ]
consumes: [ application/json ]
info:
  description: >-
    # Introduction

    This API is documented using the **OpenAPI 2.0** specification.

    # Automation

    You can automate most of our APIs using our [Terraform provider](https://docs.logz.io/integrations/terraform/).


    <!-- You can browse the API documentation on this page, or you can download the specification file. -->

    # Account region and API URL

    To find your account region, sign in to Logz.io and look at the URL in the address bar.
    Your API URL has the same two-letter code that you see in the address bar when you're logged in.


    For more information, see [Account region](https://docs.logz.io/user-guide/accounts/account-region.html).


    # Authentication

    The Logz.io API is available to Pro and Enterprise plan subscribers.
    You can generate and delete API tokens in your [Logz.io account](https://app.logz.io/#/dashboard/settings/manage-tokens/api).

    <!-- ReDoc-Inject: <security-definitions> -->


    # Rate limiting

    API call and response rates are limited to 100 concurrent API requests per account.
    To verify your rate limits or request changes to your plan, please contact your account manager or the <a class="intercom-launch" href="mailto:help@logz.io">Customer Success Team</a>.


  title: Logz.io API
  termsOfService: 'https://logz.io/about-us/terms-of-use/'
  contact:
    email: help@logz.io
    url: https://docs.logz.io/
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

securityDefinitions:
  X-API-TOKEN:
    description: >-
      You can manage your API tokens from the [Logz.io API tokens](https://app.logz.io/#/dashboard/settings/manage-tokens/api) page.


      API tokens are account-specific. You will need to be logged into the relevant Log Management or SIEM account to view the API tokens associated with it.


      To manage your API tokens, log into the relevant account in your Logz.io platform, click the gear in the top-right menu, and select [**Tools > Manage tokens > API tokens**](https://app.logz.io/#/dashboard/settings/manage-tokens/api).


      It's important to keep your tokens secure. API tokens carry privileges to make changes to users and accounts, so if you believe an API token has been compromised, delete it, and replace it with a new token in your integrations.
    type: apiKey
    in: header
    name: X-API-TOKEN
security:
  - X-API-TOKEN: []

tags:
  - name: Metrics gateway
    description: >-
      Metrics API Gateway to supported endpoints. In the context of this API, "*Grafana*" refers to the Logz.io fork of Grafana, thus this gateway provides support for the APIs of the Logz.io fork of Grafana and for some of the open source Grafana APIs. Read more about the fork created by Logz.io [here.](https://logz.io/about-us/forked-statement/) 
    
      **Note:** Run these endpoints with an API token belonging to the main Log Management account associated with your Metrics account.


  - name: Who am I
  - name: Manage time-based log accounts
    description: >-
      Use these API requests to manage time-based log accounts:
      
      * Create, update, or delete a sub account.

      * Allocate daily capacity to the main account and/or sub accounts.
      
      * Retrieve account activity stats and/or account configuration details.


      ### Flexible storage & shared volume
        
      Flexible storage and shared volume allow accounts to share indexing capacity.
      
      
      To enable shared volume, go to the [Manage accounts page](https://app.logz.io/#/dashboard/settings/manage-accounts) in the Logz.io app and toggle the button **Use flexible volume** to turn it on.
      
      
      To determine whether flexible storage is enabled, run a `Get` request to retrieve account details.
      
      * If `isFlexible` is true, flexible storage is enabled and every account has reserved capacity set by the parameter `reservedDailyGB`.
      
      * If false, flexible storage is disabled and the parameter `reservedDailyGB` is null.
  - name: Search logs
    description: >-
      Use the Elasticsearch Search API DSL query language to search your Logz.io data.


      To ensure system performance and data availability, we've introduced some limitations to the original Elasticsearch specification. These limitations are detailed in the applicable API calls below.
  
  - name: Deployments
    description: >-
      Send deployment logs by API to automatically correlate exceptions with service deployments directly in your Logz.io Exceptions tab.

  - name: Insights
    description: >-
      Logz.io monitors your logs for Insights to help you preempt issues and alert you of potential problems.


      There are two types of Insights:

      * LOGCEPTION - Application errors and exceptions identified in the stack trace.

      * PUBLIC_CI - Cognitive Insights correlate your logs with  vulnerabilities and issues that are trending in the open source community.


      You have the option to set up an alert so you can get notified of the details when new or recurring insights are spotted in your system.


      **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
  - name: Retrieve audit trail
  - name: Connect to CloudTrail
    description: Establish a connection to ship logs to the Logz.io observability platform via an S3 bucket. Supports CloudTrail logs.
  - name: Connect to S3 Buckets
    description: >-
      Establish a connection for the Logz.io fetcher to fetch logs to the Logz.io observability platform via an S3 bucket. Supports ELB, S3 Access, CloudFront, VPC Flow logs.


      If you're looking to fetch CloudTrail logs, use the designated endpoints.


      Authentication can be established with either S3 secret credentials or ARNs (for AWS IAM Roles). Authentication with S3 Secret Credentials is supported for backward compatibility. Authentication with ARNs (for IAM Roles) is strongly recommended.
  - name: Manage notification endpoints
    description: >-
      Logz.io can send notifications to your preferred workspaces, such as Opsgenie, BigPanda, PagerDuty, and Slack.


      Notifications are typically sent when alerts are triggered, when a user shares a Kibana object,
      or when Logz.io Insights identifies new exceptions in your logs.


      Use these API endpoints to create, update, or delete notification endpoints. If you configure a custom endpoint,
      you can configure the notification message body.
      Otherwise, you can use any of the available preconfigured endpoints.
  - name: Import or export Kibana objects
  - name: Manage log shipping tokens
    description: >-
      Use these API endpoints to create, update, retrieve, or delete log shipping tokens.
  - name: Drop filters
    description: >-
      Drop filters provide a solution for filtering out logs before they are indexed in your account to help lower costs and reduce account volume.


      Drop filters evaluate logs for exact field:value matches. Any log results that match active drop filters will not be indexed. This means they will not appear in your Kibana account, will not be searchable, trigger alerts, or appear in dashboards.


      Archiving is not affected by drop filters. Logs dropped by drop filters will still be archived, if archiving is configured for the account. With archiving configured, you can readily use drop filters to reduce logging bulk and restore the logs in the event that they become relevant.
  - name: Manage shared tokens
    description: >-
      You can share Kibana visualization and dashboard snapshots using shared tokens.
      Token filters are available to help you control what data to expose.


      **Note:** Shared token endpoints require permissions that must be set by our Support team. Please email help@logz.io for assistance.
  - name: Manage API tokens
    description: >-
      You can manage API tokens for sub accounts.
  - name: Logz.io snapshots
  - name: Manage users
  - name: Alerts
    description: >-
      Logz.io alerts use a Kibana search query to continuously scan your logs and alert you when a certain set of conditions is met. The simplest alerts can use a simple search query or a particular filter, but others can be quite complex and involve several conditions with varying thresholds.


      When alerts trigger, they write event logs. Event logs of triggered alerts are always available and searchable in Kibana - just filter for `_exists_:logzio-alert`. But you also have the option to add notifications, and control their contents, format, and who they are sent to.


      For the deprecated alerting version, please see our [public GitHub project](https://github.com/logzio/public-api/tree/master/alerts).
  - name: Security rules
    description: >-
      Security rules help you connect the dots between your data sources and events that could indicate a security threat or breach.


      Your Cloud SIEM account comes pre-configured with security rules for different attack types and security use cases. These built-in rules are protected, and there are limitations on the changes that can be made to them. Pre-configured rules can be updated by adding notification endpoints (like email or Slack), changing trigger thresholds and severities, and adding tags, as described in detail in the endpoint.


      You can also create new security rules to supplement the built-in rules.

  - name: Security account
    description: >-
      A security account with SIEM allows you to use the SIEM platform. You can create a SIEM account using an API call.

  - name: Security events
    description: >-
      A security event is logged whenever a security rule triggers in your [Logz.io Cloud SIEM account](https://app.logz.io/#/dashboard/security/rules/rule-definitions?from=0&sortBy=updatedAt&sortOrder=DESC).


      Your Logz.io Cloud SIEM is pre-loaded with hundreds of security rules created and maintained by Logz.io's security analysts. The list continues to be expanded and updated on a regular basis. You can also add your own security rules.


      To investigate into security events, you can begin by running a bulk query to fetch security event logs, either with or without applying filtering criteria. This query returns all of the events that match the query parameters and can potentially fetch events going back many months. Whenever you encounter a particular event you would like to further investigate, you can run the drilldown query to fetch the logs that triggered the security event to delve deeper into the event details.


      These queries can be used to integrate with an automated response solution such as Cortex xSOAR or simply to understand your security posture and identify suspicious activity in your accounts.
  - name: Archive logs
    description: >-
      You can archive logs to an AWS S3 bucket or Azure Blob Storage. Archiving gives you the option to restore logs and query them after they have expired from your time-based account.


      You can use the following endpoints to retrieve, set up, test, and update an account's archive settings.


      Note: Logs are archived before they are indexed and analyzed by Logz.io. If you are using drop filters, note that dropped logs will still be archived.
  - name: Restore logs
    description: >-
      You can restore data from your active archiving account, whether an AWS S3 bucket or Azure Blob Storage. Restoring data gives you the option to query logs after they have expired from your time-based account.


      You can use the following endpoints to initiate a new restore process, retrieve, set up, test, and update an account's archive settings.


      Note: Logs that are dropped by drop filters are still archived and can be restored. You can temporarily disable drop filters to restore the data.
  - name: Lookups
    description: >-
      Lookups are custom lists of values that allow you to easily filter by large lists in Kibana.

      
      Instead of adding a long list of elements to your query, you can create lookup lists and filter by them using the operators `in lookups`/`not in lookups`.
      
      
      For this purpose, all of the values in a lookup list should be mapped to the same field in Kibana. [Learn more in the user guide](/user-guide/lookups/)
  
  - name: Grafana alerting
    description: >-
      To create an alert, use the Grafana dashboards API.

  - name: Authentication groups
    description: >-
      Before you can use Authentication Groups API, Logz.io support will need to enable [SSO](https://docs.logz.io/user-guide/users/single-sign-on/) for your account. 


x-tagGroups:
  - name: Log Monitoring
    tags:
      - Search logs
      - Alerts
      - Deployments
      - Insights
      - Logz.io snapshots
  - name: Cloud SIEM
    tags:
      - Security account
      - Security rules
      - Security events
      - Lookup lists
  - name: Account administration
    tags:
      - Manage users
      - Manage metrics account
      - Authentication groups
      - Who am I
      - Manage time-based log accounts
      - Manage shared tokens
      - Manage API tokens
      - Manage notification endpoints
      - Import or export Kibana objects
  - name: Manage data shipping
    tags:
      - Manage log shipping tokens
      - Drop filters
      - Archive logs
      - Restore logs
      - Parsing
      - Delete object API
  - name: Data security
    tags:
      - Retrieve audit trail
  - name: Connect to AWS resources
    tags:
      - Connect to CloudTrail
      - Connect to S3 Buckets
  - name: Metrics API Gateway
    tags:
      - Grafana contact points
      - Grafana data source
      - Grafana alerting provisioning
      - Grafana annotations
      - Grafana dashboards
      - Grafana dashboard search
      - Grafana snapshots
    description: Metrics API Gateway to supported endpoints. 
    
paths:
  # ::::: GRAFANA
  
  v1/provisioning/contact-points:
      get:
        operationId: RouteGetContactpoints
        summary: Get all contact points
        description: >-
           Get all contact points.
        tags:
            - Grafana contact points
        parameters:
          - in: query
            name: name
            type: string
            schema:
              description: >-
                Name to filter by.
        responses:
          200:
          description: ContactPoints
          schema:
                type: array
                items: 
                  type: object
                  properties: 
                    disableResolveMessage: 
                      type: boolean
                    name: 
                      type: string
                      example: webhook_1
                    provenance: 
                      type: string
                      example: string
                    settings: 
                      type: object
                      properties:  
                    type: 
                      type: string
                      example: webhook
                    uid: 
                      type: string
                      example: my_external_reference

      post:
        operationId: RoutePostContactpoints
        summary: Create a contact point
        description: >-
           Create a contact point.
        tags:
            - Grafana contact points
        parameters:
          - in: body
            name: body
            schema:
              type: object
              properties:
                disableResolveMessage:
                  type: boolean
                name: 
                  type: string
                  example: webhook_1
                settings: 
                  type: object
                  properties:  
                type: 
                  type: string
                  example: webhook
                uid: 
                  type: string
                  example: my_external_reference
        responses:
          202:
          description: ContactPoints
          schema:
                type: object
                properties:
                  definitions: 
                    disableResolveMessage: 
                      type: boolean
                    name: 
                      type: string
                      example: webhook_1
                    provenance: 
                      type: string
                      example: string
                    settings: 
                      type: object
                      properties:  
                    type: 
                      type: string
                      example: webhook
                    uid: 
                      type: string
                      example: my_external_reference
          400:
              description: Not Found
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Error message


  v1/provisioning/contact-points/{UID}:
    delete:
      operationId: RouteDeleteContactpoints
      summary: Delete a contact point
      description: >-
         Delete a contact point.
      tags:
          - Grafana contact points
      parameters:
          - in: path
            name: UID
            type: string
            required: true
            schema:
              description: >-
                Contact point unique identifier.
      responses:
        204:
            description: Not Found
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: The contact point was deleted successfully.
    put:
      operationId: RouteUpdateContactpoints
      summary: Update a contact point
      description: >-
         Update a contact point.
      tags:
          - Grafana contact points
      parameters:
          - in: path
            name: UID
            type: string
            required: true
            schema:
            description: >-
              Contact point unique identifier.
          - in: body
            name: body
            schema:
              type: object
              properties:
                disableResolveMessage:
                  type: boolean
                name: 
                  type: string
                  example: webhook_1
                settings: 
                  type: object
                  properties:  
                type: 
                  type: string
                  example: webhook
                uid: 
                  type: string
                  example: my_external_reference
      responses:
        202:
            description: Not Found
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: The contact point was deleted successfully.
        204:
            description: Acknowledged
            schema:
              type: object
              properties:
        400:
            description: Not Found
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: Validator error.


  v1/provisioning/policies:
    delete:
      operationId: RouteResetPolicyTree
      summary: Clears the notification policy tree
      description: >-
         Clears the notification policy tree.
      tags:
          - Grafana contact points
      responses:
        202:
            description: Not Found
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: The contact point was deleted successfully.
    get:
      operationId: RouteGetPolicyTree
      summary: Get notification policy tree
      description: >-
         Get notification policy tree.
      tags:
          - Grafana contact points
      responses:
        202:
            description: Not Found
            schema:
              type: object
              properties:
                continue: 
                  type: boolean
                group_by: 
                  type: array
                  items: 
                    type: string
                    example: string
                group_interval: 
                  type: string
                  example: string
                group_wait: 
                  type: string
                  example: string
                match: 
                  type: object
                  properties: 
                    additionalProp1: 
                      type: string
                      example: string
                    additionalProp2: 
                      type: string
                      example: string
                    additionalProp3: 
                      type: string
                      example: string
                match_re: 
                  type: object
                  properties: 
                    additionalProp1: 
                      type: object
                      properties:  
                    additionalProp2: 
                      type: object
                      properties:  
                    additionalProp3: 
                      type: object
                      properties:  
                matchers: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      Name: 
                        type: string
                        example: string
                      Type: 
                        type: integer
                        format: int32
                        example: 0
                      Value: 
                        type: string
                        example: string
                mute_time_intervals: 
                  type: array
                  items: 
                    type: string
                    example: string
                object_matchers: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      Name: 
                        type: string
                        example: string
                      Type: 
                        type: integer
                        format: int32
                        example: 0
                      Value: 
                        type: string
                        example: string
                provenance: 
                  type: string
                  example: string
                receiver: 
                  type: string
                  example: string
                repeat_interval: 
                  type: string
                  example: string
                routes: 
                  type: array
                  items: 
                    type: string
                    example: string

    put:
      operationId: RouteGetPolicyTree
      summary: Set notification policy tree
      description: >-
         Set notification policy tree.
      tags:
          - Grafana contact points
      parameters:
          - in: body
            name: body
            schema:
              type: object
              properties:
                continue: 
                  type: boolean
                group_by: 
                  type: array
                  items: 
                    type: string
                    example: string
                group_interval: 
                  type: string
                  example: string
                group_wait: 
                  type: string
                  example: string
                match: 
                  type: object
                  properties: 
                    additionalProp1: 
                      type: string
                      example: string
                    additionalProp2: 
                      type: string
                      example: string
                    additionalProp3: 
                      type: string
                      example: string
                match_re: 
                  type: object
                  properties: 
                    additionalProp1: 
                      type: object
                      properties:  
                    additionalProp2: 
                      type: object
                      properties:  
                    additionalProp3: 
                      type: object
                      properties:  
                matchers: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      Name: 
                        type: string
                        example: string
                      Type: 
                        type: integer
                        format: int32
                        example: 0
                      Value: 
                        type: string
                        example: string
                mute_time_intervals: 
                  type: array
                  items: 
                    type: string
                    example: string
                object_matchers: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      Name: 
                        type: string
                        example: string
                      Type: 
                        type: integer
                        format: int32
                        example: 0
                      Value: 
                        type: string
                        example: string
                provenance: 
                  type: string
                  example: string
                receiver: 
                  type: string
                  example: string
                repeat_interval: 
                  type: string
                  example: string
                routes: 
                  type: array
                  items: 
                    type: string
                    example: string

      responses:
        202:
            description: Not Found
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: The contact point was deleted successfully.
        400:
            description: Not Found
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: Validator error.



  v1/grafana/api/datasources/summary:
      get:
        operationId: getAllDatasources
        summary: Return a list of data sources
        description: >-
           Return a list of data sources for all accounts under the API token provided.
        tags:
            - Grafana data source
        responses:
            200:
              description: successful query
              schema:
                type: array
                items: 
                  type: object
                  properties: 
                    id: 
                      type: integer
                      example: 123
                      description: Data source Id
                    uid: 
                      type: string
                      example: DCFaFyDnk
                      description: Data source UID
                    name: 
                      type: string
                      example: cluster6_metrics
                      description: Data source name
                    type: 
                      type: string
                      example: prometheus
                      description: Enum for the data source type. Can be eithern prometheus or elasticsearch.
                    database: 
                      type: string
                      example: 123456
                      description: Metrics account ID

            404:
              description: Not Found
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Data source not found.

  v1/grafana/api/datasources/name/{metric_account_name}/summary:
      get:
        operationId: getDatasourceByAccount
        summary: Get a data source for a given account
        description: >-
           Get a data source for a given account.
        tags:
            - Grafana data source
        parameters:
            
            - in: path
              name: metric_account_name
              type: string
              schema:
                description: >-
                  Logz.io metric account name
        responses:
            200:
              description: successful query
              schema:
                type: object
                properties: 
                  id: 
                    type: integer
                    example: 123
                    description: Data source Id
                  uid: 
                    type: string
                    example: DCFaFyDnk
                    description: Data source UID
                  name: 
                    type: string
                    example: cluster6_metrics
                    description: Data source name
                  type: 
                    type: string
                    example: prometheus
                    description: Enum for the data source type. Can be eithern prometheus or elasticsearch.
                  database: 
                    type: string
                    example: 123456
                    description: Metrics account ID

            404:
              description: Not Found
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Data source not found.


  /v1/grafana/api/v1/provisioning/alert-rules:
      get:
        operationId: getAlertRules
        summary: Return a list of all alerts
        description: >-
           Returns a list of all alerts.
        tags:
            - Grafana alerting provisioning
        parameters:
            
            - in: query
              name: panelId
              type: integer
              schema:
                description: >-
                  Id of a specific panel to return in results.
            - in: query
              name: dashboardUid
              type: integer
              schema:
                description: >-
                  Id of a specific dashboard to return in results.
  
        responses:
            200:
              description: successful query
              schema:
                type: object
                properties:
                  annotations: 
                    type: object
                    description: Annotations for the dashboard
                    properties: 
                      runbook_url: 
                        type: string
                        description: URL to the runbook
                        example: https://supercoolrunbook.com/page/13
                  condition: 
                    type: string
                    description: Condition
                    example: A
                  data: 
                    type: array
                    description: Response wrapper for the data retrieved
                    items: 
                      type: object
                      description: Data items retrieved
                      properties: 
                        datasourceUid: 
                          type: string
                          description: Grafana data source unique identifier
                          example: -100
                        model: 
                          type: object
                          description: JSON is the raw JSON query and includes the model properties as well as custom properties.
                          properties: 
                            conditions: 
                              type: array
                              items: 
                                type: object
                                properties: 
                                  evaluator: 
                                    type: object
                                    properties: 
                                      params: 
                                        type: array
                                        items: 
                                          type: integer
                                          format: int32
                                          example: 0
                                      type: 
                                        type: string
                                        example: gt
                                  operator: 
                                    type: object
                                    properties: 
                                      type: 
                                        type: string
                                        example: and
                                  query: 
                                    type: object
                                    properties: 
                                      params: 
                                        type: array
                                        items: 
                                  reducer: 
                                    type: object
                                    properties: 
                                      params: 
                                        type: array
                                        items: 
                                      type: 
                                        type: string
                                        example: avg
                                  type: 
                                    type: string
                                    example: query
                            datasource: 
                              type: object
                              properties: 
                                type: 
                                  type: string
                                  example: __expr__
                                uid: 
                                  type: string
                                  example: __expr__
                            expression: 
                              type: string
                              example: 1 == 1
                            hide: 
                              type: boolean
                            intervalMs: 
                              type: integer
                              format: int32
                              example: 1000
                            maxDataPoints: 
                              type: integer
                              format: int32
                              example: 43200
                            refId: 
                              type: string
                              example: A
                            type: 
                              type: string
                              example: math
                        queryType: 
                          type: string
                          description: Optional identifier for the type of query
                          example: 
                        refId: 
                          type: string
                          description: Unique identifier of the query, set by the frontend call.
                          example: A
                        relativeTimeRange: 
                          type: object
                          description:  Per query start and end time for requests
                          properties: 
                            from: 
                              type: integer
                              format: int32
                              example: 0
                            to: 
                              type: integer
                              format: int32
                              example: 0
                  execErrState: 
                    type: string
                    example: Alerting
                  folderUID: 
                    type: string
                    description: The unique identifier (uid) of a folder to search in for dashboards. You cannot use `General` folder or the folder generated by logz.io - `Logz.io Dashboards` - to place your alerts.
                    example: project_x
                  for: 
                    type: integer
                    format: int32
                    example: 0
                  id: 
                    type: integer
                    format: int32
                    example: 0
                  labels: 
                    type: object
                    properties: 
                      team: 
                        type: string
                        example: sre-team-1
                  noDataState: 
                    type: string
                    example: Alerting
                  orgID: 
                    type: integer
                    format: int32
                    example: 0
                  provenance: 
                    type: string
                    example: string
                  ruleGroup: 
                    type: string
                    example: eval_group_1
                  title: 
                    type: string
                    example: Always firing
                  uid: 
                    type: string
                    example: string
                  updated: 
                    type: string
                    example: 2022-08-16T11:07:04.763Z
  
      post:
        operationId: AlertRules
        summary: Create a new alert rule
        description: >-
          Creates a new alert rule.
        tags:
          - Grafana alerting provisioning
        parameters:
          - in: body
            name: body
            schema:
              type: object
              properties:
                annotations:
                  type: object
                  properties: 
                    runbook_url: 
                      type: string
                      example: https://supercoolrunbook.com/page/13
                condition: 
                  type: string
                  example: A
                data: 
                  type: array
                  items: 
                    type: object
                    required:
                    - datasourceUid
                    properties: 
                      datasourceUid: 
                        type: string
                        example: -100
                      model: 
                        type: object
                        properties: 
                          conditions: 
                            type: array
                            items: 
                              type: object
                              properties: 
                                evaluator: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                        type: integer
                                        format: int32
                                        example: 0
                                    type: 
                                      type: string
                                      example: gt
                                operator: 
                                  type: object
                                  properties: 
                                    type: 
                                      type: string
                                      example: and
                                query: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                reducer: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                    type: 
                                      type: string
                                      example: avg
                                type: 
                                  type: string
                                  example: query
                          datasource: 
                            type: object
                            properties: 
                              type: 
                                type: string
                                example: __expr__
                              uid: 
                                type: string
                                example: __expr__
                          expression: 
                            type: string
                            example: 1 == 1
                          hide: 
                            type: boolean
                          intervalMs: 
                            type: integer
                            format: int32
                            example: 1000
                          maxDataPoints: 
                            type: integer
                            format: int32
                            example: 43200
                          refId: 
                            type: string
                            example: A
                          type: 
                            type: string
                            example: math
                      queryType: 
                        type: string
                        example: 
                      refId: 
                        type: string
                        example: A
                      relativeTimeRange: 
                        type: object
                        properties: 
                          from: 
                            type: integer
                            format: int32
                            example: 0
                          to: 
                            type: integer
                            format: int32
                            example: 0
                execErrState: 
                  type: string
                  example: Alerting
                folderUID: 
                  type: string
                  description: The unique identifier (uid) of a folder to search in for dashboards. You cannot use `General` folder or the folder generated by logz.io - `Logz.io Dashboards` - to place your alerts.
                  example: project_x
                for: 
                  type: integer
                  format: int32
                  example: 0
                id: 
                  type: integer
                  format: int32
                  example: 0
                labels: 
                  type: object
                  properties: 
                    team: 
                      type: string
                      example: sre-team-1
                noDataState: 
                  type: string
                  example: Alerting
                provenance: 
                  type: string
                  example: string
                ruleGroup: 
                  type: string
                  example: eval_group_1
                title: 
                  type: string
                  example: Always firing
                uid: 
                  type: string
                  example: string
            
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                annotations: 
                  type: object
                  properties: 
                    runbook_url: 
                      type: string
                      example: https://supercoolrunbook.com/page/13
                condition: 
                  type: string
                  example: A
                data: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      datasourceUid: 
                        type: string
                        example: -100
                      model: 
                        type: object
                        properties: 
                          conditions: 
                            type: array
                            items: 
                              type: object
                              properties: 
                                evaluator: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                        type: integer
                                        format: int32
                                        example: 0
                                    type: 
                                      type: string
                                      example: gt
                                operator: 
                                  type: object
                                  properties: 
                                    type: 
                                      type: string
                                      example: and
                                query: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                reducer: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                    type: 
                                      type: string
                                      example: avg
                                type: 
                                  type: string
                                  example: query
                          datasource: 
                            type: object
                            properties: 
                              type: 
                                type: string
                                example: __expr__
                              uid: 
                                type: string
                                example: __expr__
                          expression: 
                            type: string
                            example: 1 == 1
                          hide: 
                            type: boolean
                          intervalMs: 
                            type: integer
                            format: int32
                            example: 1000
                          maxDataPoints: 
                            type: integer
                            format: int32
                            example: 43200
                          refId: 
                            type: string
                            example: A
                          type: 
                            type: string
                            example: math
                      queryType: 
                        type: string
                        example: 
                      refId: 
                        type: string
                        example: A
                      relativeTimeRange: 
                        type: object
                        properties: 
                          from: 
                            type: integer
                            format: int32
                            example: 0
                          to: 
                            type: integer
                            format: int32
                            example: 0
                execErrState: 
                  type: string
                  example: Alerting
                folderUID: 
                  type: string
                  description: The unique identifier (uid) of a folder to search in for dashboards. You cannot use `General` folder or the folder generated by logz.io - `Logz.io Dashboards` - to place your alerts.
                  example: project_x
                for: 
                  type: integer
                  format: int32
                  example: 0
                id: 
                  type: integer
                  format: int32
                  example: 0
                labels: 
                  type: object
                  properties: 
                    team: 
                      type: string
                      example: sre-team-1
                noDataState: 
                  type: string
                  example: Alerting
                orgID: 
                  type: integer
                  format: int32
                  example: 0
                provenance: 
                  type: string
                  example: string
                ruleGroup: 
                  type: string
                  example: eval_group_1
                title: 
                  type: string
                  example: Always firing
                uid: 
                  type: string
                  example: string
                updated: 
                  type: string
                  example: 2022-08-16T13:09:06.350Z
              
  


  /v1/grafana/api/v1/provisioning/alert-rules/{UID}:
      get:
        operationId: getAlertRulesByUID
        summary: Return a list of all alerts by UID
        description: >-
           Returns a list of all alerts by a UID.
        tags:
            - Grafana alerting provisioning
        parameters:
            
            - in: path
              name: UID
              type: string
              schema:
                description: >-
                  Alert rule UID.
  
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                annotations: 
                  type: object
                  properties: 
                    runbook_url: 
                      type: string
                      example: https://supercoolrunbook.com/page/13
                condition: 
                  type: string
                  example: A
                data: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      datasourceUid: 
                        type: string
                        example: -100
                      model: 
                        type: object
                        properties: 
                          conditions: 
                            type: array
                            items: 
                              type: object
                              properties: 
                                evaluator: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                        type: integer
                                        format: int32
                                        example: 0
                                    type: 
                                      type: string
                                      example: gt
                                operator: 
                                  type: object
                                  properties: 
                                    type: 
                                      type: string
                                      example: and
                                query: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                reducer: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                    type: 
                                      type: string
                                      example: avg
                                type: 
                                  type: string
                                  example: query
                          datasource: 
                            type: object
                            properties: 
                              type: 
                                type: string
                                example: __expr__
                              uid: 
                                type: string
                                example: __expr__
                          expression: 
                            type: string
                            example: 1 == 1
                          hide: 
                            type: boolean
                          intervalMs: 
                            type: integer
                            format: int32
                            example: 1000
                          maxDataPoints: 
                            type: integer
                            format: int32
                            example: 43200
                          refId: 
                            type: string
                            example: A
                          type: 
                            type: string
                            example: math
                      queryType: 
                        type: string
                        example: 
                      refId: 
                        type: string
                        example: A
                      relativeTimeRange: 
                        type: object
                        properties: 
                          from: 
                            type: integer
                            format: int32
                            example: 0
                          to: 
                            type: integer
                            format: int32
                            example: 0
                execErrState: 
                  type: string
                  example: Alerting
                folderUID: 
                  type: string
                  description: The unique identifier (uid) of a folder to search in for dashboards. You cannot use `General` folder or the folder generated by logz.io - `Logz.io Dashboards` - to place your alerts.
                  example: project_x
                for: 
                  type: integer
                  format: int32
                  example: 0
                id: 
                  type: integer
                  format: int32
                  example: 0
                labels: 
                  type: object
                  properties: 
                    team: 
                      type: string
                      example: sre-team-1
                noDataState: 
                  type: string
                  example: Alerting
                orgID: 
                  type: integer
                  format: int32
                  example: 0
                provenance: 
                  type: string
                  example: string
                ruleGroup: 
                  type: string
                  example: eval_group_1
                title: 
                  type: string
                  example: Always firing
                uid: 
                  type: string
                  example: string
                updated: 
                  type: string
                  example: 2022-08-16T13:09:06.350Z

      put:
        operationId: putAlertRulesByUID
        summary: Amend an alert by UID
        description: >-
           Amend an alert by UID.
        tags:
            - Grafana alerting provisioning
        parameters:
          
          - in: path
            name: UID
            type: string
            schema:
              description: >-
                Alert rule UID.
          - in: body
            name: body
            schema:
              type: object
              properties:
                annotations: 
                  type: object
                  properties: 
                    runbook_url: 
                      type: string
                      example: https://supercoolrunbook.com/page/13
                condition: 
                  type: string
                  example: A
                data: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      datasourceUid: 
                        type: string
                        example: -100
                      model: 
                        type: object
                        properties: 
                          conditions: 
                            type: array
                            items: 
                              type: object
                              properties: 
                                evaluator: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                        type: integer
                                        format: int32
                                        example: 0
                                    type: 
                                      type: string
                                      example: gt
                                operator: 
                                  type: object
                                  properties: 
                                    type: 
                                      type: string
                                      example: and
                                query: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                reducer: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                    type: 
                                      type: string
                                      example: avg
                                type: 
                                  type: string
                                  example: query
                          datasource: 
                            type: object
                            properties: 
                              type: 
                                type: string
                                example: __expr__
                              uid: 
                                type: string
                                example: __expr__
                          expression: 
                            type: string
                            example: 1 == 1
                          hide: 
                            type: boolean
                          intervalMs: 
                            type: integer
                            format: int32
                            example: 1000
                          maxDataPoints: 
                            type: integer
                            format: int32
                            example: 43200
                          refId: 
                            type: string
                            example: A
                          type: 
                            type: string
                            example: math
                      queryType: 
                        type: string
                        example: 
                      refId: 
                        type: string
                        example: A
                      relativeTimeRange: 
                        type: object
                        properties: 
                          from: 
                            type: integer
                            format: int32
                            example: 0
                          to: 
                            type: integer
                            format: int32
                            example: 0
                execErrState: 
                  type: string
                  example: Alerting
                folderUID: 
                  type: string
                  description: The unique identifier (uid) of a folder to search in for dashboards. You cannot use `General` folder or the folder generated by logz.io - `Logz.io Dashboards` - to place your alerts.
                  example: project_x
                for: 
                  type: integer
                  format: int32
                  example: 0
                id: 
                  type: integer
                  format: int32
                  example: 0
                labels: 
                  type: object
                  properties: 
                    team: 
                      type: string
                      example: sre-team-1
                noDataState: 
                  type: string
                  example: Alerting
                orgID: 
                  type: integer
                  format: int32
                  example: 0
                provenance: 
                  type: string
                  example: string
                ruleGroup: 
                  type: string
                  example: eval_group_1
                title: 
                  type: string
                  example: Always firing
                uid: 
                  type: string
                  example: string
            
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                annotations: 
                  type: object
                  properties: 
                    runbook_url: 
                      type: string
                      example: https://supercoolrunbook.com/page/13
                condition: 
                  type: string
                  example: A
                data: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      datasourceUid: 
                        type: string
                        example: -100
                      model: 
                        type: object
                        properties: 
                          conditions: 
                            type: array
                            items: 
                              type: object
                              properties: 
                                evaluator: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                        type: integer
                                        format: int32
                                        example: 0
                                    type: 
                                      type: string
                                      example: gt
                                operator: 
                                  type: object
                                  properties: 
                                    type: 
                                      type: string
                                      example: and
                                query: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                reducer: 
                                  type: object
                                  properties: 
                                    params: 
                                      type: array
                                      items: 
                                    type: 
                                      type: string
                                      example: avg
                                type: 
                                  type: string
                                  example: query
                          datasource: 
                            type: object
                            properties: 
                              type: 
                                type: string
                                example: __expr__
                              uid: 
                                type: string
                                example: __expr__
                          expression: 
                            type: string
                            example: 1 == 1
                          hide: 
                            type: boolean
                          intervalMs: 
                            type: integer
                            format: int32
                            example: 1000
                          maxDataPoints: 
                            type: integer
                            format: int32
                            example: 43200
                          refId: 
                            type: string
                            example: A
                          type: 
                            type: string
                            example: math
                      queryType: 
                        type: string
                        example: 
                      refId: 
                        type: string
                        example: A
                      relativeTimeRange: 
                        type: object
                        properties: 
                          from: 
                            type: integer
                            format: int32
                            example: 0
                          to: 
                            type: integer
                            format: int32
                            example: 0
                execErrState: 
                  type: string
                  example: Alerting
                folderUID: 
                  type: string
                  description: The unique identifier (uid) of a folder to search in for dashboards. You cannot use `General` folder or the folder generated by logz.io - `Logz.io Dashboards` - to place your alerts.
                  example: project_x
                for: 
                  type: integer
                  format: int32
                  example: 0
                id: 
                  type: integer
                  format: int32
                  example: 0
                labels: 
                  type: object
                  properties: 
                    team: 
                      type: string
                      example: sre-team-1
                noDataState: 
                  type: string
                  example: Alerting
                orgID: 
                  type: integer
                  format: int32
                  example: 0
                provenance: 
                  type: string
                  example: string
                ruleGroup: 
                  type: string
                  example: eval_group_1
                title: 
                  type: string
                  example: Always firing
                uid: 
                  type: string
                  example: string
                updated: 
                  type: string
                  example: 2022-08-16T14:04:25.062Z

      delete:
        operationId: deleteAlertRulesByUID
        summary: Delete alert rule by UID
        description: >-
          Deletes the annotation that matches the specified id.
        tags:
          - Grafana annotations
        parameters:
          - in: path
            name: UID
            type: string
            schema:
              description: >-
                Alert rule UID.


        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Confirmation message.
                  example: Annotation deleted
              





  /v1/grafana/api/annotations/:
      get:
        operationId: getAnnotations
        summary: Find annotations
        description: >-
          Searches for annotations in the Grafana database.
        tags:
          - Grafana annotations
        parameters:
          
          - in: query
            name: from
            type: integer
            schema:
              description: >-
                Epoch datetime in milliseconds. Optional.
          - in: query
            name: to
            type: integer
            schema:
              description: >-
                Epoch datetime in milliseconds. Optional.
          - in: query
            name: limit
            type: integer
            schema:
              description: >-
                Optional - default is 100. Max limit for results returned.
          - in: query
            name: alertId
            type: integer
            schema:
              description: >-
                Optional. Find annotations for a specified alert.
          - in: query
            name: dashboardId
            type: integer
            schema:
              description: >-
                Optional. Find annotations that are scoped to a specific dashboard
          - in: query
            name: panelId
            type: integer
            schema:
              description: >-
                Optional. Find annotations that are scoped to a specific panel
          - in: query
            name: userId
            type: integer
            schema:
              description: >-
                Optional. Find annotations created by a specific user
          - in: query
            name: type
            type: string
            schema:
              description: >-
                Optional. Return alerts or user created annotations
          - in: query
            name: tags
            type: string
            schema:
              description: >-
                Optional. Use this to filter global annotations. Global annotations are annotations from an annotation data source that are not connected specifically to a dashboard or panel. To do an “AND” filtering with multiple tags, specify the tags parameter multiple times e.g. tags=tag1&tags=tag2.
        x-code-samples:
          - lang: cURL
            source: >-
              curl -X GET https://api.logz.io/v1/grafana/api/annotations?from=1506676478816&to=1507281278816&tags=tag1&tags=tag2&limit=100 \
                -H 'Content-Type: application/json' \
                -H 'X-API-TOKEN: <token>' \              
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ID.
                  example: 1
                dashboardId:
                  type: integer
                  description: Dashboard ID.
                  example: 1
                dashboardUId:
                  type: string
                  description: Dashboard UID.
                  example: "ABcdEFghij"
                dashboardSlug:
                  type: string
                  description: Dashboard slug.
                  example: "sensors"
                panelId:
                  type: integer
                  description: Panel ID.
                  example: 1
                name:
                  type: string
                  description: Dashboard name.
                  example: "fire place sensor"
                state:
                  type: string
                  description: Dashboard state.
                  example: "alerting"
                newStateDate:
                  type: string
                  description: Date of the new state.
                  example: "2018-05-14T05:55:20+02:00"
                evalDate:
                  type: string
                  description: Evaluation date.
                  example: "0001-01-01T00:00:00Z"
                evalData:
                  type: array
                  description: Evaluation data.
                  items:
                    type: string
                executionError:
                  type: string
                  description: Execution error, if present
                  example: ""
                url:
                  type: string
                  description: Dashboard url.
                  example: "http://grafana.com/dashboard/db/sensors"
      post:
        operationId: createAnnotations
        summary: Create annotations
        description: >-
          Creates an annotation in the Grafana database.
        tags:
          - Grafana annotations
        parameters:
          - in: body
            name: body
            schema:
              type: object
              properties:
                dashboardId:
                  type: integer
                  description: Id of the dashboard. The dashboardId and panelId fields are optional. If they are not specified then a global annotation is created and can be queried in any dashboard that adds the Grafana annotations data source.
                panelId:
                  type: integer
                  description: Id of the panel. The dashboardId and panelId fields are optional. If they are not specified then a global annotation is created and can be queried in any dashboard that adds the Grafana annotations data source.
                time:
                  type: integer
                  description: Epoch time in milliseconds.
                timeEnd:
                  type: integer
                  description: Epoch time in milliseconds.
                tags:
                  type: array
                  description: Annotation tags.
                  items:
                    type: string
                    example: tag1
                text:
                  type: string
                  description: Annotation Description.
        x-code-samples:
        - lang: cURL
          source: >-
            curl -X POST https://api.logz.io/v1/grafana/api/annotations/ \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \
              -d '{
                "dashboardId":468,
                "panelId":1,
                "time":1507037197339,
                "timeEnd":1507180805056,
                "tags":["tag1","tag2"],
                "text":"Annotation Description"
            }'
                
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ID.
                  example: 1
                message:
                  type: string
                  description: Confirmation message.
                  example: Annotation added
  
  /v1/grafana/api/annotations/graphite:
      post:
        operationId: createAnnotationsGraphite
        summary: Create annotations in Graphite format
        description: >-
          Creates an annotation in the Grafana database by using Graphite-compatible event format.
        tags:
          - Grafana annotations
        parameters:
          - in: body
            name: body
            schema:
              type: object
              properties:
                what:
                  type: string
                  description: Graphite annotation.
                  example: Event - deploy
                when:
                  type: integer
                  description: Epoch datetime of the annotation in milliseconds. Optional. If `when` is not specified then the current time will be used as annotation’s timestamp..
                tags:
                  type: array
                  description: Annotation tags.  Can also be in prior to Graphite 0.10.0 format (string with multiple tags being separated by a space).
                  example: ["deploy", "production"]
                  items:
                    type: string
                data:
                  type: string
                  description: Annotation Description.
                  example: deploy of master branch happened at Wed Jul 6 22:34:41 UTC 2016
              
        x-code-samples:
        - lang: cURL
          source: >-
            curl -X POST https://api.logz.io/v1/grafana/api/annotations/graphite \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \
              -d '{
                    "what": "Event - deploy",
                    "tags": ["deploy", "production"],
                    "when": 1467844481,
                    "data": "deploy of master branch happened at Wed Jul 6 22:34:41 UTC 2016"
            }'
            
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ID.
                  example: 1
                message:
                  type: string
                  description: Confirmation message.
                  example: Graphite annotation added
  
  /v1/grafana/api/annotations/:id:
      put:
        operationId: updateAnnotations
        summary: Update annotations
        description: >-
          Updates an annotation in the Grafana database.
        tags:
          - Grafana annotations
        parameters:
          - in: path
            name: id
            type: integer
            schema:
              description: >-
                Id of the annotation.
          - in: body
            name: body
            schema:
              type: object
              properties:
                time:
                  type: integer
                  description: Epoch time in milliseconds.
                timeEnd:
                  type: integer
                  description: Epoch time in milliseconds.
                  example: Event - deploy                
                text:
                  type: string
                  description: Annotation Description.
                tags:
                  type: attay
                  description: Tags.
                  example: ["tag3","tag4","tag5"]
                  items:
                    type: string
        x-code-samples:
        - lang: cURL
          source: >-
            curl -X PUT https://api.logz.io/v1/grafana/api/annotations/1141 \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \
              -d '{
                      "time":1507037197339,
                      "timeEnd":1507180805056,
                      "text":"Annotation Description",
                      "tags":["tag3","tag4","tag5"]
              }'
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Confirmation message.
                  example: Annotation updated
      patch:
        operationId: patchAnnotations
        summary: Patch annotations
        description: >-
          Updates one or more properties of an annotation that matches the specified id. This operation currently supports updating of the text, tags, time and timeEnd properties.
        tags:
          - Grafana annotations
        parameters:
          - in: path
            name: id
            type: integer
            schema:
              description: >-
                Id of the annotation.
          - in: body
            name: body
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Annotation Description.
                tags:
                  type: attay
                  description: Tags.
                  items:
                    type: string

                
        x-code-samples:
        - lang: cURL
          source: >-
            curl -X PATCH https://api.logz.io/v1/grafana/api/annotations/1141 \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \
              -d '{
                    "text":"New Annotation Description",
                    "tags":["tag6","tag7","tag8"]
              }'
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Confirmation message.
                  example: Annotation patched
  
      delete:
        operationId: deleteAnnotations
        summary: Delete annotation by id
        description: >-
          Deletes the annotation that matches the specified id.
        tags:
          - Grafana annotations
        parameters:
          - in: path
            name: id
            type: integer
            schema:
              description: >-
                Id of the annotation.
                

        x-code-samples:
        - lang: cURL
          source: >-
            curl -X DELETE https://api.logz.io/v1/grafana/api/annotations/1141 \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \

        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Confirmation message.
                  example: Annotation deleted
  
  /v1/grafana/api/annotations/tags:
      get:
        operationId: getAnnotationsTags
        summary: Get event tags created in annotations
        description: >-
          Searches for event tags in annotations in the Grafana database.
        tags:
          - Grafana annotations
        parameters:
          - in: query
            name: tag
            type: string
            schema:
              description: >-
                Tag. Optional.
          - in: query
            name: limit
            type: integer
            schema:
              description: >-
                Optional. A number, where the default is 100. Max limit for results returned.
                
        x-code-samples:
        - lang: cURL
          source: >-
            curl -X GET https://api.logz.io/v1/grafana/api/annotations/tags?tag=out \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \

        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                result:
                  type: object
                  description: Query result.
                  properties:
                    tags:
                      type: object
                      description: Tags retrieved by the query.
                      properties:
                        tag:
                          type: string
                          description: Tag.
                          example: outage
                        count:
                          type: integer
                          description: Tags count.
                          example: 1
  
  
  
  
  
  /v1/grafana/api/dashboards/db:
      post:
        operationId: createDashboard
        summary: Create/update a dashboard
        description: >-
          Creates or updates a new dashboard or updates an existing dashboard.
        tags:
          - Grafana dashboards
        parameters:
          - in: body
            type: object
            schema:
              properties:
                dashboard:
                  type: object
                  description: The complete dashboard model, to create a new dashboard.
                  properties:
                    id:
                      type: integer
                      description:  Nullable to create a new dashboard.
                      example: 1
                    uid:
                      type: integer
                      description: Optional unique identifier when creating a dashboard.  will generate a new uid.
                      example: 1
                    panels:
                      type: array
                      items:
                        type: object
                        properties: 
                          alert: 
                            type: object
                            properties: 
                              alertRuleTags: 
                                type: object
                              conditions:
                                type: array
                                items: 
                                  type: object
                                  properties:
                                    evaluator: 
                                      type: object
                                      properties: 
                                        params:
                                          type: array
                                          items: 
                                            type: integer
                                            format: int32
                                        type:
                                          type: string
                                    operator: 
                                      type: object
                                      properties: 
                                        type: 
                                          type: string
                                    query: 
                                      type: object
                                      properties: 
                                        params: 
                                          type: array
                                          items: 
                                            type: string
                                    reducer: 
                                      type: object
                                      properties: 
                                        params: 
                                          type: array
                                          items: 
                                        type: 
                                          type: string
                                    type: 
                                      type: string
                              executionErrorState: 
                                type: string
                              for: 
                                type: string
                              frequency: 
                                type: string
                              handler: 
                                type: integer
                                format: int32
                              name: 
                                type: string
                              noDataState:
                                type: string
                              notifications: 
                                type: array
                                items:
                          aliasColors: 
                            type: object
                            properties: 
                          bars: 
                            type: boolean
                          dashLength:
                            type: integer
                            format: int32
                          dashes: 
                            type: boolean
                          datasource: 
                            type: string
                            format: nullable
                          fieldConfig: 
                            type: object
                            properties:
                              defaults: 
                                type: object
                                properties: 
                                  custom: 
                                    type: object
                                    properties: 
                              overrides: 
                                type: array
                                items:
                          fill: 
                            type: integer
                            format: int32
                          fillGradient: 
                            type: integer
                            format: int32
                          gridPos: 
                            type: object
                            properties: 
                              h: 
                                type: integer
                                format: int32
                              w: 
                                type: integer
                                format: int32
                              x: 
                                type: integer
                                format: int32
                              y: 
                                type: integer
                                format: int32
                          hiddenSeries: 
                            type: boolean
                          id: 
                            type: integer
                            format: int32
                          legend: 
                            type: object
                            properties: 
                              avg: 
                                type: boolean
                              current: 
                                type: boolean
                              max: 
                                type: boolean
                              min:
                                type: boolean
                              show: 
                                type: boolean
                              total: 
                                type: boolean
                              values:
                                type: boolean
                          lines: 
                            type: boolean
                          linewidth:
                            type: integer
                            format: int32
                          nullPointMode: 
                            type: string
                          options: 
                            type: object
                            properties: 
                              dataLinks: 
                                type: array
                                items:
                          percentage: 
                            type: boolean
                          pointradius: 
                            type: integer
                            format: int32
                          points: 
                            type: boolean
                          renderer:
                            type: string
                          seriesOverrides: 
                            type: array
                            items:
                          spaceLength: 
                            type: integer
                            format: int32
                          stack:
                            type: boolean
                          steppedLine: 
                            type: boolean
                          targets: 
                            type: array
                            items: 
                              type: object
                              properties: 
                                refId: 
                                  type: string
                                scenarioId:
                                  type: string
                          thresholds: 
                            type: array
                            items: 
                              type: object
                              properties: 
                                colorMode: 
                                  type: string
                                fill: 
                                  type: boolean
                                line: 
                                  type: boolean
                                op: 
                                  type: string
                                value: 
                                  type: integer
                                  format: int32
                          timeFrom: 
                            type: string
                            format: nullable
                          timeRegions: 
                            type: array
                            items:
                          timeShift: 
                            type: string
                            format: nullable
                          title:
                            type: string
                          tooltip: 
                            type: object
                            properties: 
                              shared: 
                                type: boolean
                              sort: 
                                type: integer
                                format: int32
                              value_type: 
                                type: string
                          type: 
                            type: string
                          xaxis: 
                            type: object
                            properties: 
                              buckets: 
                                type: string
                                format: nullable
                              mode:
                                type: string
                              name: 
                                type: string
                                format: nullable
                              show:
                                type: boolean
                              values:
                                type: array
                                items:
                          yaxes:
                            type: array
                            items: 
                              type: object
                              properties: 
                                format:
                                  type: string
                                label:
                                  type: string
                                  format: nullable
                                logBase:
                                  type: integer
                                  format: int32
                                max:
                                  type: string
                                  format: nullable
                                min:
                                  type: string
                                  format: nullable
                                show: 
                                  type: boolean
                          yaxis:
                            type: object
                            properties: 
                              align: 
                                type: boolean
                              alignLevel: 
                                type: string
                                format: nullable

                    title:
                      type: string
                      example: Production Overview
                    tags:
                      type: array
                      items:
                        type: string
                        example: tag3
                    timezone:
                      type: string
                      example: browser
                    schemaVersion:
                      type: integer
                      example: 1
                    version:
                      type: integer
                      example: 0
                    refresh:
                      type: string
                      description: Set the dashboard refresh interval. If this is lower than the minimum refresh interval, then Grafana will ignore it and will enforce the minimum refresh interval.
                      example: 25s
                folderId:
                  type: integer
                  description: The id of the folder to save the dashboard in.
                  example: 1
                folderUid:
                  type: string
                  description: The unique identifier (uid) of a folder to search in for dashboards. You cannot use `General` folder or the folder generated by logz.io - `Logz.io Dashboards` - to place your alerts.
                  example: l3KqBxCMz
                message:
                  type: string
                  description: Set a commit message for the version history.
                  example: Made changes to xyz
                overwrite:
                  description: Set to true if you want to overwrite existing dashboard with newer version, same dashboard title in folder or same dashboard uid.
                  type: boolean
        x-code-samples:
        - lang: cURL
          source: >-
            curl -X PATCH https://api.logz.io/v1/grafana/api/dashboards/db \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \
              -d '{
                    "dashboard": {
                      "id": null,
                      "uid": null,
                      "title": "Production Overview",
                      "tags": [ "templated" ],
                      "timezone": "browser",
                      "schemaVersion": 16,
                      "version": 0,
                      "refresh": "25s"
                    },
                    "folderId": 0,
                    "folderUid": "l3KqBxCMz",
                    "message": "Made changes to xyz",
                    "overwrite": false
              }'
        responses:
          200:
            description: successful query
            schema:
              type: object
              properties:
                id:
[...]
