---
layout: none
---

swagger: '2.0'
schemes: [ https ]
host: api.logz.io
x-servers:
{%- for region in site.data.logzio-regions %}
  - url: https://api
  {%- if region.suffix -%}
    -{{region.suffix}}
  {%- endif -%}
  .logz.io/
    description: {{region.title}}
{% endfor -%}
basePath: /
produces: [ application/json ]
consumes: [ application/json ]
info:
  description: >-
    # Introduction

    This API is documented using the **OpenAPI 2.0** specification.


    <!-- You can browse the API documentation on this page, or you can download the specification file. -->

    # Account region and API URL

    To find your account region, sign in to Logz.io and look at the URL in the address bar.
    Your API URL has the same two-letter code that you see in the address bar when you're logged in.


    For more information, see [Account region](https://docs.logz.io/user-guide/accounts/account-region.html).


    # Authentication

    The Logz.io API is available to Pro and Enterprise plan subscribers.
    You can generate and delete API tokens in your [Logz.io account](https://app.logz.io/#/dashboard/settings/manage-tokens/api).

    <!-- ReDoc-Inject: <security-definitions> -->


    # Rate limiting

    API call and response rates are limited.
    To find out your rate limits or request changes to your plan, please contact your account manager or the <a class="intercom-launch" href="mailto:help@logz.io">Customer Success Team</a>.


  title: Logz.io API
  termsOfService: 'https://logz.io/about-us/terms-of-use/'
  contact:
    email: help@logz.io
    url: https://docs.logz.io/
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

securityDefinitions:
  X-API-TOKEN:
    description: >-
      You can manage your API tokens from the [Logz.io API tokens](https://app.logz.io/#/dashboard/settings/manage-tokens/api) page.


      API tokens are account-specific. You will need to be logged into the relevant Log Management or SIEM account to view the API tokens associated with it.


      To manage your API tokens, log into the relevant account in your Logz.io platform, click the gear in the top-right menu, and select [**Tools > Manage tokens > API tokens**](https://app.logz.io/#/dashboard/settings/manage-tokens/api).


      It's important to keep your tokens secure. API tokens carry privileges to make changes to users and accounts, so if you believe an API token has been compromised, delete it, and replace it with a new token in your integrations.
    type: apiKey
    in: header
    name: X-API-TOKEN
security:
  - X-API-TOKEN: []

tags:
  - name: Metrics gateway
    description: Metrics API Gateway to supported endpoints. In the context of this API, "*Grafana*" refers to the Logz.io fork of Grafana, thus this gateway provides support for the APIs of the Logz.io fork of Grafana and for some of the open source Grafana APIs. Read more about the fork created by Logz.io [here.](https://logz.io/about-us/forked-statement/)

  - name: Who am I
  - name: Manage time-based log accounts
    description: >-
      Use these API requests to manage time-based log accounts:
      
      * Create, update, or delete a sub account.

      * Allocate daily capacity to the main account and/or sub accounts.
      
      * Retrieve account activity stats and/or account configuration details.


      ### Flexible storage & shared volume
        
      Flexible storage and shared volume allow accounts to share indexing capacity.
      
      
      To enable shared volume, go to the [Manage accounts page](https://app.logz.io/#/dashboard/settings/manage-accounts) in the Logz.io app and toggle the button **Use flexible volume** to turn it on.
      
      
      To determine whether flexible storage is enabled, run a `Get` request to retrieve account details.
      
      * If `isFlexible` is true, flexible storage is enabled and every account has reserved capacity set by the parameter `reservedDailyGB`.
      
      * If false, flexible storage is disabled and the parameter `reservedDailyGB` is null.
  - name: Search logs
    description: >-
      Use the Elasticsearch Search API DSL query language to search your Logz.io data.


      To ensure system performance and data availability, we've introduced some limitations to the original Elasticsearch specification. These limitations are detailed in the applicable API calls below.
  
  - name: Deployments
    description: >-
      Send deployment logs by API to automatically correlate exceptions with service deployments directly in your Logz.io Exceptions tab. The API endpoints documented here are in Beta, and are subject to change.

  - name: Insights
    description: >-
      Logz.io monitors your logs for Insights to help you preempt issues and alert you of potential problems.


      There are two types of Insights:

      * LOGCEPTION - Application errors and exceptions identified in the stack trace.

      * PUBLIC_CI - Cognitive Insights correlate your logs with  vulnerabilities and issues that are trending in the open source community.


      You have the option to set up an alert so you can get notified of the details when new or recurring insights are spotted in your system.


      **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
  - name: Retrieve audit trail
  - name: Connect to CloudTrail
    description: Establish a connection to ship logs to the Logz.io observability platform via an S3 bucket. Supports CloudTrail logs.
  - name: Connect to S3 Buckets
    description: >-
      Establish a connection for the Logz.io fetcher to fetch logs to the Logz.io observability platform via an S3 bucket. Supports ELB, S3 Access, CloudFront, VPC Flow logs.


      If you're looking to fetch CloudTrail logs, use the designated endpoints.


      Authentication can be established with either S3 secret credentials or ARNs (for AWS IAM Roles). Authentication with S3 Secret Credentials is supported for backward compatibility. Authentication with ARNs (for IAM Roles) is strongly recommended.
  - name: Manage notification endpoints
    description: >-
      Logz.io can send notifications to your preferred workspaces, such as Opsgenie, BigPanda, PagerDuty, and Slack.


      Notifications are typically sent when alerts are triggered, when a user shares a Kibana object,
      or when Logz.io Insights identifies new exceptions in your logs.


      Use these API endpoints to create, update, or delete notification endpoints. If you configure a custom endpoint,
      you can configure the notification message body.
      Otherwise, you can use any of the available preconfigured endpoints.
  - name: Import or export Kibana objects
  - name: Manage log shipping tokens
    description: >-
      Use these API endpoints to create, update, retrieve, or delete log shipping tokens.
  - name: Drop filters
    description: >-
      Drop filters provide a solution for filtering out logs before they are indexed in your account to help lower costs and reduce account volume.


      Drop filters evaluate logs for exact field:value matches. Any log results that match active drop filters will not be indexed. This means they will not appear in your Kibana account, will not be searchable, trigger alerts, or appear in dashboards.


      Archiving is not affected by drop filters. Logs dropped by drop filters will still be archived, if archiving is configured for the account. With archiving configured, you can readily use drop filters to reduce logging bulk and restore the logs in the event that they become relevant.
  - name: Manage shared tokens
    description: >-
      You can share Kibana visualization and dashboard snapshots using shared tokens.
      Token filters are available to help you control what data to expose.


      **Note:** Shared token endpoints require permissions that must be set by our Support team. Please email help@logz.io for assistance.
  - name: Manage API tokens
    description: >-
      You can manage API tokens for sub accounts.
  - name: Logz.io snapshots
  - name: Manage users
  - name: Alerts
    description: >-
      Logz.io alerts use a Kibana search query to continuously scan your logs and alert you when a certain set of conditions is met. The simplest alerts can use a simple search query or a particular filter, but others can be quite complex and involve several conditions with varying thresholds.


      When alerts trigger, they write event logs. Event logs of triggered alerts are always available and searchable in Kibana - just filter for `_exists_:logzio-alert`. But you also have the option to add notifications, and control their contents, format, and who they are sent to.


      For the deprecated alerting version, please see our [public GitHub project](https://github.com/logzio/public-api/tree/master/alerts).
  - name: Security rules
    description: >-
      Security rules help you connect the dots between your data sources and events that could indicate a security threat or breach.


      Your Cloud SIEM account comes pre-configured with security rules for different attack types and security use cases. These built-in rules are protected, and there are limitations on the changes that can be made to them. Pre-configured rules can be updated by adding notification endpoints (like email or Slack), changing trigger thresholds and severities, and adding tags, as described in detail in the endpoint.


      You can also create new security rules to supplement the built-in rules.
  - name: Security events
    description: >-
      A security event is logged whenever a security rule triggers in your [Logz.io Cloud SIEM account](https://app.logz.io/#/dashboard/security/rules/rule-definitions?from=0&sortBy=updatedAt&sortOrder=DESC).


      Your Logz.io Cloud SIEM is pre-loaded with hundreds of security rules created and maintained by Logz.io's security analysts. The list continues to be expanded and updated on a regular basis. You can also add your own security rules.


      To investigate into security events, you can begin by running a bulk query to fetch security event logs, either with or without applying filtering criteria. This query returns all of the events that match the query parameters and can potentially fetch events going back many months. Whenever you encounter a particular event you would like to further investigate, you can run the drilldown query to fetch the logs that triggered the security event to delve deeper into the event details.


      These queries can be used to integrate with an automated response solution such as Cortex xSOAR or simply to understand your security posture and identify suspicious activity in your accounts.
  - name: Archive logs
    description: >-
      You can archive logs to an AWS S3 bucket or Azure Blob Storage. Archiving gives you the option to restore logs and query them after they have expired from your time-based account.


      You can use the following endpoints to retrieve, set up, test, and update an account's archive settings.


      Note: Logs are archived before they are indexed and analyzed by Logz.io. If you are using drop filters, note that dropped logs will still be archived.
  - name: Restore logs
    description: >-
      You can restore data from your active archiving account, whether an AWS S3 bucket or Azure Blob Storage. Restoring data gives you the option to query logs after they have expired from your time-based account.


      You can use the following endpoints to initiate a new restore process, retrieve, set up, test, and update an account's archive settings.


      Note: Logs that are dropped by drop filters are still archived and can be restored. You can temporarily disable drop filters to restore the data.
  - name: Lookups
    description: >-
      Lookups are custom lists of values that allow you to easily filter by large lists in Kibana.

      
      Instead of adding a long list of elements to your query, you can create lookup lists and filter by them using the operators `in lookups`/`not in lookups`.
      
      
      For this purpose, all of the values in a lookup list should be mapped to the same field in Kibana. [Learn more in the user guide](/user-guide/lookups/)

x-tagGroups:
  - name: Log Monitoring
    tags:
      - Search logs
      - Alerts
      - Deployments
      - Insights
      - Logz.io snapshots
  - name: Cloud SIEM
    tags:
      - Security rules
      - Security events
      - Lookup lists
  - name: Account administration
    tags:
      - Manage users
      - Who am I
      - Manage time-based log accounts
      - Manage shared tokens
      - Manage API tokens
      - Manage notification endpoints
      - Import or export Kibana objects
  - name: Manage data shipping
    tags:
      - Manage log shipping tokens
      - Drop filters
      - Archive logs
      - Restore logs
  - name: Data security
    tags:
      - Retrieve audit trail
  - name: Connect to AWS resources
    tags:
      - Connect to CloudTrail
      - Connect to S3 Buckets
  - name: Metrics API Gateway
    tags:
      - Metrics gateway
    description: Metrics API Gateway to supported endpoints.

paths:
  # ::::: GRAFANA
  /v1/grafana/api/{GRAFANA_API_URL}:
    get:
      summary: Metrics API Capabilities
      description: >-
        Prepend your Logz.io API Gateway to the relevant Metrics API endpoint.


        Supported endpoints:
          * [Alerting](https://grafana.com/docs/grafana/latest/http_api/alerting/)
          * [Annotations](https://grafana.com/docs/grafana/latest/http_api/annotations/)
          * [Dashboard](https://grafana.com/docs/grafana/latest/http_api/dashboard/)
          * [Dashboard versions](https://grafana.com/docs/grafana/latest/http_api/dashboard_versions/)
          * [Folder/dashboard search](https://grafana.com/docs/grafana/latest/http_api/folder_dashboard_search/)
          * [Snapshot](https://grafana.com/docs/grafana/latest/http_api/snapshot/)

        **Note:** Run these endpoints with an API token belonging to the main Log Management account associated with your Metrics account.
      tags:
        - Metrics gateway
      operationId: metricsGateway
      produces:
        - application/json
      parameters:


  # ::::: ACCOUNTS
  /v1/account-management/whoami:
    get:
      summary: Retrieve this account
      description: Returns a single string with the account name. Good for testing or for confirming that you're using an API token from the right account.
      tags:
        - Who am I
      operationId: whoAmI
      produces:
        - application/json
      parameters:
      x-code-samples:
      - lang: cURL
        source: >-
          "curl -X GET \
          https://api.logz.io/v1/account-management/whoami \
          -H 'Content-Type: application/json' \
          -H 'X-API-TOKEN: <token>'"
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/WhoAmI'
  /v1/account-management/time-based-accounts:
    get:
      summary: Retrieve settings for all accounts
      description: >-
        
        Returns account settings for the main account and all of its associated sub accounts.
        

        * The list of accounts is returned as an array of JSON objects.
        
        * Must be run with an API token from the main account.
      tags:
        - Manage time-based log accounts
      operationId: getAll
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/TimeBasedAccount'
      x-code-samples:
      - lang: cURL
        source: 'curl --request GET --url "https://api.logz.io/v1/account-management/time-based-accounts" --header "X-API-TOKEN: <token>"'
    post:
      summary: Create a sub account
      description: >-
        Creates a new logging sub account. Must be run with an API token from the main account.
      tags:
        - Manage time-based log accounts
      operationId: createTimeBasedAccount
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/TimeBasedAccountCreateRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TimeBasedAccountCreationResponse'
      x-code-samples:
      - lang: cURL
        source: >-
          curl -X POST \
            "https://api.logz.io/v1/account-management/time-based-accounts" \
            -H "accept: application/json" -H "content-type: application/json" \
            -H "X-API-TOKEN: <token>" \
            -d '{
            "email": "help@logz.io",
            "accountName": "AWS Lambda svr 3",
            "maxDailyGB": 5,
            "reservedDailyGB": 3,
            "isFlexible": true,
            "retentionDays": 5,
            "searchable": true,
            "accessible": false,
            "sharingObjectsAccounts": [
              48672,
              36259
            ],
            "docSizeSetting": true,
            "utilizationSettings": {
              "frequencyMinutes": 5,
              "utilizationEnabled": true
            }
            }'


  /v1/account-management/time-based-accounts/{id}:
    get:
      summary: Retrieve account settings by ID
      description: Returns account configuration settings as a JSON object. Must be run with an API token from the main account.
      tags:
        - Manage time-based log accounts
      operationId: get
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to retrieve
          x-example: 99999
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TimeBasedAccount'
      x-code-samples:
      - lang: cURL
        source: 'curl -X GET "https://api.logz.io/v1/account-management/time-based-accounts/99999" -H "accept: application/json" -H "content-type: application/json" -H "X-API-TOKEN: <token>"'
    put:
      summary: Update an account
      description: >-
        Updates the account settings of a main account or sub account, with some exceptions, noted below:


        * For the main account, the parameter `retentionDays` cannot be updated. It is determined by the plan you purchased.

        * For the main account, if `isFlexible=false`, the parameters `maxDailyGB` and `reservedDailyGB` cannot be updated using this endpoint.

      tags:
        - Manage time-based log accounts
      operationId: updateTimeBasedAccount
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to update
          x-example: 99999
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/TimeBasedAccountUpdateRequest'
      responses:
        204:
          description: successful operation
      x-code-samples:
      - lang: cURL
        source: >-
          curl -X PUT \
          "https://api.logz.io/v1/account-management/time-based-accounts/88888" \
          -H "accept: application/json" -H "content-type: application/json" \
          -H "X-API-TOKEN: <token>" \
          -d "{
            \"accountName\": \"AWS Lambda svr 3\",
            \"maxDailyGB\": 5,
            "reservedDailyGB\": 3,
            \"retentionDays\": 5,
            \"searchable\": true,
            \"accessible\": false,
            \"sharingObjectsAccounts\": [
                55555
            ],
            \"docSizeSetting\": true,
            \"utilizationSettings\": {
              \"frequencyMinutes\": 5,
              \"utilizationEnabled\": true
            }
          }"
    delete:
      summary: Delete a sub account
      description: Deletes a sub account by its account ID. Must be run with an API token from the main account.
      tags:
        - Manage time-based log accounts
      operationId: deleteTimeBasedAccount
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to be deleted.
          x-example: 99999
      responses:
        204:
          description: successful operation
      x-code-samples:
        - lang: cURL
          source: 'curl -X DELETE "https://api.logz.io/v1/account-management/time-based-accounts/88888" -H "accept: application/json" -H "content-type: application/json" -H "X-API-TOKEN: <token>"'
  /v1/account-management/time-based-accounts/detailed:
    get:
      summary: Retrieve detailed information for all accounts
      description: >-
        Returns detailed account information for the main account and all of its associated sub accounts. Information includes usage and sharing permissions for Kibana objects.

        * The list of accounts is returned as an array of JSON objects. Each sub account is its own object.
        
        * Must be run with an API token from the main account.
      tags:
        - Manage time-based log accounts
      operationId: getAllDetailedTimeBasedAccount
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DetailedTimeBasedAccount'
      x-code-samples:
      - lang: cURL
        source: 'curl -X GET "https://api.logz.io/v1/account-management/time-based-accounts/detailed" -H "accept: application/json" -H "content-type: application/json" -H "X-API-TOKEN: <token>"'
  /v1/account-management/time-based-accounts/detailed/{id}:
    get:
      summary: Retrieve detailed account information by account ID
      description: Returns detailed account information. Must be run with an API token from the main account.
      tags:
        - Manage time-based log accounts
      operationId: getDetailedTimeBasedAccount
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to retrieve
          x-example: 99999
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DetailedTimeBasedAccount'
      x-code-samples:
      - lang: cURL
        source: 'curl -X GET "https://api.logz.io/v1/account-management/time-based-accounts/detailed/99999" -H "accept: application/json" -H "content-type: application/json" -H "X-API-TOKEN: <token>"'



  # ::::: SEARCH, SCROLL
  /v1/search:
    post:
      operationId: search
      summary: Search logs
      description: >-
        Searches your account data using the [Elasticsearch Search API DSL](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search.html) query language. 
        
        
        **Maximum results:** This call returns up to 10,000 results per query for aggregated results, or 1,000 results for non-aggregated results. 


        **Note:** To ensure speed and availability of your logs, we restrict some options from the Elasticsearch defaults that could hamper system performance. Restrictions are described with their respective elements below.
      tags:
        - Search logs
      parameters:
        - in: query
          name: dayOffset
          type: integer
          schema:
            description: >-
              Slide the 2-day search time range by _x_ days.
              For example, if set to `5`, search returns results from 5 days ago and 4 days ago, UTC.


              Maximum is your account's retention period.


              If set to `0` or `1`, search returns default results (today and yesterday, UTC).
            minimum: 0
        - in: query
          name: accountIds
          type: integer
          schema:
            description: >-
              ID of the sub account to search.
              By default, only this account is searched.


              A main account can search a sub account as long as it has the right permissions.
              To give search permissions to the main account,
              log in to the main account,
              go to the [Manage accounts](https://app.logz.io/#/dashboard/settings/manage-accounts) page,
              and select **Searchable from the main account** for the intended sub account.


              To include multiple accounts, repeat this parameter for each account
              (for example: `accountIds=500&accountIds=600`).


              **Important**:
              If you include an account without the right permissions,
              the request will fail.


              If you include this parameter, the current account won't be searched
              unless you explicitly include it in the query.
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - query
            properties:
              query:
                type: object
                description: >-
                  The query can take any of the parameters described in the [Elasticsearch Search API DSL documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search.html) with the exceptions stated below.

                  #### Limitations

                  * When using `query_string`, `allow_leading_wildcard` must be set to `false`

                  * `wildcard` can't start with `*` or `?`

                  * Can't contain `fuzzy_max_expansions`, `max_expansions`, or `max_determinized_states`


                  #### Notes on the search time range

                  * By default, your query runs on data sent today and yesterday, UTC.
                    You can move this 2-calendar-day window by using the `dayOffset` query parameter.

                  * Searches without a `timestamp` filter will return 2 calendar days, UTC.
                    To search a different time frame, specify a filter on `timestamp`.

                example: { "bool": { "must": [{ "range": { "@timestamp": { "gte": "now-5m", "lte": "now" } } }] } }
              from:
                type: integer
                minimum: 0
                default: 0
                description: Of the results found, the first result to return
                example: 10
              size:
                type: integer
                description: Number of results to return
                default: 10
                maximum: 10,000
                example: 50
              sort:
                type: array
                description: >-
                  #### Limitations

                  * Can't sort or aggregate on analyzed fields, such as the `message` field
                items:
                  type: object
              _source:
                type: object
                description: >-
                  The object `includes` specifies an array of strings specifying an array of fields to return.

                  * If you omit `_source` from the request, all fields are returned.

                  * If you pass `'_source': false`, it will exclude the `_source` field from the results.
                properties:
                  includes:
                    type: array of strings
                    description: Array of fields to return
                    example: message
                items:
                  - type: string
                    description: Field to return.
              post_filter:
                type: object
                description: A filter applied after the aggregations have been calculated. Useful for reusing a single query to calculate several outputs with different filtering criteria. See the [Elasticsearch guide](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-post-filter.html) for details.
              docvalue_fields:
                type: object
                description: Powers inverted indexing. Allows queries to look up the search term in unique sorted list of terms, for faster access to the list of documents that contain the term. See the [Elasticsearch guide](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-docvalue-fields.html) for details.
              version:
                type: object
                description: Returns a version for each result. See the [Elasticsearch guide](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-version.html) for details.
              store:
                type: array of objects
                description: Useful for querying for fields that don’t appear in the _source field or querying for larger documents by date or title. See the [Elasticsearch guide](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/mapping-store.html) for details.
              highlight:
                type: object
                description: Highlight strings in one or more fields in your search results. See the [Elasticsearch guide](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-highlighting.html) for details.
              aggregations:
                type: object
                description: >-
                  Apply field aggregations. See the [Elasticsearch guide](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-aggregations.html) for details.


                  #### Limitations

                  * When using the `size` element, the value must be ≤ `1000`

                  * Can't nest 2 or more bucket aggregations of these types: `date_histogram`, `geohash_grid`, `histogram`, `ip_ranges`, `significant_terms`, `terms`

                  * Can't sort or aggregate on analyzed fields, such as the `message` field

                  * Aggregation type `significant_terms` can't be used


                  **Note:** You can use `aggs` or `aggregations` as the field name
                example: { "byType": { "terms": { "field": "type", "size": 5 } } }
      x-code-samples:
        - lang: cURL
          source: >-
            curl -X POST https://api.logz.io/v1/search \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \
              -d '{
              "size": 10,
              "query": {
                "bool": {
                  "must": [{
                    "range": {
                      "@timestamp": {
                        "gte": "now-5m",
                        "lte": "now"
                      }
                    }
                  }]
                }
              },
              "aggs": {
                "byType": {
                  "terms": {
                    "field": "type",
                    "size": 5
                  }
                }
              }
            }' '
      responses:
        200:
          description: successful query
          schema:
            type: object
            example: >-
              {
                "hits": {
                  "total": 339604,
                  "max_score": 0,
                  "hits": [ ]
                },
                "aggregations": {
                  "byType": {
                    "doc_count_error_upper_bound": 0,
                    "sum_other_doc_count": 44879,
                    "buckets": [
                      {
                        "key": "web-app",
                        "doc_count": 163690
                      }, {
                        "key": \"core-service\",
                        "doc_count": 64893
                      }
                    ]
                  }
                }
              }

  /v1/scroll:
    post:
      summary: Scroll logs
      tags:
        - Search logs
      description: >-
        This endpoint can take 2 types of call requests. The first type runs a search query that returns a `scrollID` and the first batch of paginated results. The second request type passes only the `scroll_id`
        (The variation in the field name is intentional) to fetch the next batches of paginated results.
        This endpoint always returns results as a stringified JSON.


        How it works:


        First, send a request to establish the `scrollID`. This initial request contains the query object and additional parameters, similar to the `v1/search` endpoint, with the exception that `dayOffset` and `accountIds` are not supported. The request will return the field `scrollId` and the number of `hits`, representing the number of matching results.


        Next, send the `scroll_id` in the request body to retrieve the log results as a stringified JSON. Each call returns the next page, where each page can return a maximum of 1000 results. Every time you resend the same `scroll_id` in the request body, it returns the next page until it reaches the end of the results.
        
        
        Every time you send the request with the same `scroll_id`, the next batch of results is returned.
        Keep sending the same scroll ID as many times as needed to retrieve all of the available results.
        The results are paginated, and every request returns the next page, one at a time.


        When the call returns an empty array, you'll know you've reached the end of your results.


        **Note**:


        * Send the field `scroll_id` in requests (snake_case).

        * Receive the field `scrollID` in your responses (camelCase).
      operationId: scroll
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ScrollRequest'
      x-code-samples:
        - lang: cURL
          source: >-
            curl -X POST https://api.logz.io/v1/scroll \
              -H 'Content-Type: application/json' \
              -H 'X-API-TOKEN: <token>' \
              -d '{
              "size": 10,
              "query": {
                "bool": {
                  "must": [{
                    "range": {
                      "@timestamp": {
                        "gte": "now-5m",
                        "lte": "now"
                      }
                    }
                  }]
                }
              },
              "aggs": {
                "byType": {
                  "terms": {
                    "field": "type",
                    "size": 5
                  }
                }
              }
            }'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ScrollResponse'

  # ::::: Archive
  /v2/archive/settings:
    get:
      summary: Retrieve archiving settings
      description: >-
        Gets the current archive settings for a time-based log account.


        Note that only one archive can be active per account.
      tags:
        - Archive logs
      operationId: getSettingsForAccount
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ArchiveSettingsResponse'
    post:
      summary: Set up archiving
      description: Configure archiving for a time-based log account. One archive can be configured per account (or sub account).
      tags:
        - Archive logs
      operationId: createSettings
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ArchiveSettings'
      responses:
        default:
          description: successful operation
  /v2/archive/settings/test:
    post:
      summary: Test archive settings
      description: Tests the settings and returns the status code to confirm that a connection with the provider was established.
      tags:
        - Archive logs
      operationId: testSettings
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/TestStorageRequest'
      responses:
        default:
          description: successful operation
  /v2/archive/settings/{id}:
    get:
      summary: Retrieve archive settings
      description: Retrieves an archiving settings by the ID of the settings.
      tags:
        - Archive logs
      operationId: getSettings
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the archive settings.
          example: 33
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ArchiveSettingsResponse'
          headers: {}
    put:
      summary: Update archive settings
      description: >-
        Updates the archiving settings for a time-based log account. (The API token identifies the account.)


        You can use this endpoint to:

        * Switch archive settings between AWS and Azure Blob Storage or vice versa.

        * Update credentials.

        * Switch your AWS authentication method between credential keys and IAM roles.


        Note that only one archive can be active per account.
      tags:
        - Archive logs
      operationId: updateSettings
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the archive settings.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ArchiveSettings'
      responses:
        default:
          description: successful operation
    delete:
      summary: Delete archive settings
      description: Deletes the archiving settings for a time-based log account.
      tags:
        - Archive logs
      operationId: deleteSettings
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the archive settings.
      responses:
        default:
          description: successful operation


  # ::::: Restore
  /archive/restore:
    get:
      summary: Retrieve all restore operations
      description: Returns a complete history of all restore operations initiated for the account.
      tags:
          - Restore logs
      operationId: getRestoreRequestsForAccountApi
      consumes:
          - application/json
      produces:
          - application/json
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/RestoreApiResponse'
          headers: {}
    post:
      summary: Initiate restore operation
      description: Initiates a new operation to restore data from a specific time frame. (As a result, also triggers the creation of a temporary restored account in Logz.io to hold the restored data until its automatic expiration.)
      tags:
        - Restore logs
      operationId: createRestore
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/RestoreApiRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/RestoreApiResponse'
          headers: {}
  /archive/restore/{id}:
    get:
      summary: Get an update on a restore operation
      description: Returns the status of a specific restore operation by its ID.
      tags:
        - Restore logs
      operationId: getRestoreRequestByIdApi
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the restore process
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/RestoreApiResponse'
          headers: {}
    delete:
      summary: Delete a restore operation
      description: Aborts a restore process before its completion.
      tags:
        - Restore logs
      operationId: abortRestoreRequestApi
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the restore process.
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/RestoreApiResponse'
          headers: {}



  # ::::: Alerts V2
  /v2/alerts:
    get:
      operationId: getAllAlerts
      summary: Retrieve all alerts
      description: Returns the complete list of all alerts configured for the account.
      tags:
        - Alerts
      produces:
        - application/json
      parameters:
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/AlertV2Response'
          headers: {}
    post:
      summary: Create an alert
      description: Configures and activates a new alert.
      tags:
        - Alerts
      operationId: createAlert
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AlertV2Request'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AlertV2Response'

  /v2/alerts/{alertId}:
    get:
      summary: Retrieve alert by ID
      description: Returns alert details by alert ID.
      tags:
        - Alerts
      operationId: getAlert
      produces:
        - application/json
      parameters:
        - name: alertId
          in: path
          required: true
          type: integer
          format: int32
          description: Unique identifier of the alert in Logz.io.
          example: 563412
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AlertV2Response'
          headers: {}
    put:
      summary: Update an alert
      description: Applies changes to an alert, identified by its ID. Can be used to enable or disable the alert.
      tags:
        - Alerts
      operationId: updateAlert
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AlertV2Request'
        - name: alertId
          in: path
          required: true
          type: integer
          format: int32
          description: Unique identifier of the alert in Logz.io.
          example: 563412
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AlertV2Response'
    delete:
      operationId: deleteAlert
      summary: Delete an alert
      description: Deletes an alert identified by its ID.
      tags:
        - Alerts
      produces:
        - application/json
      parameters:
        - name: alertId
          in: path
          required: true
          type: integer
          format: int32
          description: Unique identifier of the alert in Logz.io.
          example: 563412
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AlertV2Response'
          headers: {}
  /v2/alerts/{id}/enable:
    post:
      summary: Enable alert by ID
      description: Enables an alert by its alert ID. This is reversible. The alert can be disabled again at any time.
      operationId: enableAlert
      tags:
        - Alerts
      produces:
        - application/json
      parameters:
        - name: id
          description: Alert ID
          in: path
          required: true
          type: integer
          format: int32
          example: 654312
      responses:
        default:
          description: successful operation
  /v2/alerts/{id}/disable:
    post:
      operationId: disableAlert
      summary: Disable alert by ID
      description: Disables an alert by its alert ID. This is reversible. The alert can be enabled again at any time.
      tags:
        - Alerts
      produces:
        - application/json
      parameters:
        - name: id
          description: Alert ID
          in: path
          required: true
          type: integer
          format: int32
          example: 654321
      responses:
        default:
          description: successful operation

  
  # ::::: Deployment markers
  /v2/markers/create-markers:
    post:
      tags:
        - Deployments
      operationId: createMarkers
      summary: Add deployment markers to Exception graphs
      description: Send logs with details of service deployments to annotate Exception graphs in Kibana Discover. [Learn more about Deployment markers](/user-guide/insights/exceptions/deployments.html)
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateMarkersRequest'
      responses:
        default:
          description: successful operation


  # ::::: Log Insights
  /v1/insights/list:
    post:
      summary: Get the list of Insights
      tags:
        - Insights
      description: >-
        Get the list of Insights that match your search criteria.


        Whenever a new Insight is detected, it receives an Insight ID and is tracked for as long as it recurs. The lookback period for Insights is 6 months.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      operationId: getPublicInsights
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PublicGetAccountInsightsRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PageResponsePublicAccountInsightResponse'

  # ::::: AUDIT TRAIL
  /v1/audit-trail/event-types:
    post:
      operationId: listAccountAuditTrails
      summary: Retrieve all event types in the audit trail
      description: Returns an array of strings. Each string is an event type that appears in the account's audit trail. Each event type is shown once, no matter how many times it occurs in the account's audit trail.
      tags:
        - Retrieve audit trail
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AuditTrailEventTypesResponse'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/audit-trail/event-types" -H "accept: application/json" -H "content-type: application/json" -H "X-API-TOKEN: <token>"'
  /v1/audit-trail:
    post:
      operationId: listAccountAuditTrailsFiltered
      summary: Retrieve a filtered list of audit trail events
      tags:
        - Retrieve audit trail
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AuditTrailFilterRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/audit-trail" -H "accept: application/json" -H "X-API-TOKEN: <token>" -H "Content-Type: application/json" -d "{\"from\":20, \"size\":15, \"fromDate\":1520444072192, \"toDate\":1528216472192, \"sortDescending\":true, \"includeFiltersData\":true, \"auditEventType\":null, \"auditEventUser\":null}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AuditTrailFilteredResponse'

  # ::::: CLOUDTRAIL
  /v1/log-shipping/cloudtrails:
    get:
      operationId: getAccountCloudTrails
      summary: Retrieve all connected CloudTrail resources
      description: >-
        Returns a list of CloudTrail resources connected to your Logz.io account.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to CloudTrail
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CloudTrailResponse'
      x-code-samples:
        - lang: cURL
          source: 'curl -X GET "https://api.logz.io/v1/log-shipping/cloudtrails" -H "accept: application/json" -H "content-type: application/json" -H "X-API-TOKEN: <token>"'
    post:
      operationId: createCloudTrail
      summary: Create a new CloudTrail connector
      description: >-
        Establishes a new connection to a CloudTrail resource. As a result, logs from your CloudTrail resource will ship to the connected Logz.io account via an AWS S3 bucket.


        CloudTrail logs will be parsed using the Logz.io custom CloudTrail parsing pipeline.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to CloudTrail
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CloudTrailRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IdBean'
      x-code-samples:
        - lang: cURL
          source: >-
            'curl -X POST "https://api.logz.io/v1/log-shipping/cloudtrails" \
            -d "{
              \"accessKey\": \"ee07df5801500745419c6dff\",
              \"secretKey\": \"506d891fe2163a511b450eddc3279539f6\",
              \"bucket\": \"LogzioBucket\",
              \"prefix\": \"AWSLogs/7364988021587/myprefix\",
              \"active\": true
            }"'
  /v1/log-shipping/cloudtrails/{id}:
    get:
      operationId: getCloudTrail
      summary: Retrieve CloudTrail connector by ID
      description: >-
        Returns details for a CloudTrail connector, identified by its ID.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to CloudTrail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: Logz.io ID of the CloudTrail connector
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/CloudTrailResponse'
    put:
      operationId: updateCloudTrail
      summary: Update a CloudTrail connector
      description: >-
        Updates details for a CloudTrail connector.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to CloudTrail
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CloudTrailRequest'
        - name: id
          description: Logz.io ID of the CloudTrail connector.
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MessageBean'
    delete:
      operationId: deleteCloudTrail
      summary: Delete a CloudTrail connector
      description: >-
        Deletes a CloudTrail connector. As a result, CloudTrail will stop shipping data to your Logz.io account.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to CloudTrail
      parameters:
        - name: id
          description: Logz.io ID of the CloudTrail connector.
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MessageBean'

  # ::::: S3 log shipping
  /log-shipping/s3-buckets:
    get:
      summary: Retrieve all connected S3 buckets
      description: >-
        Returns a list of all S3 buckets connected to your Logz.io account.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to S3 Buckets
      operationId: getS3Buckets
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/S3BucketResponse'
    post:
      summary: Create a new S3 bucket connector
      description: >-
        Establishes a new connection of the Logz.io fetcher to an AWS S3 bucket. As a result, logs from your AWS resource will begin shipping to the connected Logz.io account via an AWS S3 bucket.


        Logs will be parsed using the Logz.io custom parsing pipeline for the resource.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to S3 Buckets
      operationId: createBuckets
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/S3BucketRequest'
      responses:
        default:
          description: successful operation
  '/log-shipping/s3-buckets/{id}':
    get:
      summary: Retrieve an S3 bucket connector by ID
      description: >-
        Returns connection details for an S3 bucket connector by its ID.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to S3 Buckets
      operationId: getS3Bucket
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          description: Logz.io ID of the S3 Bucket connector. You can run the relevant GET endpoints to retrieve the ID.
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
              $ref: '#/definitions/S3BucketResponse'
    put:
      summary: Update an S3 bucket connector
      description: >-
        Updates connection details for an S3 bucket connector.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to S3 Buckets
      operationId: updateBucket
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Logz.io ID of the S3 Bucket connector. You can run the relevant GET endpoints to retrieve the ID.
          required: true
          type: integer
          format: int32
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/S3BucketRequest'
      responses:
        default:
          description: successful operation
    delete:
      summary: Delete an S3 connector
      description: >-
        Deletes an S3 bucket connector. As a result, the connected AWS resource will stop shipping logs to your Logz.io account.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to S3 Buckets
      operationId: deleteBucket
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          description: Logz.io ID of the S3 bucket connector. You can run the relevant GET endpoints to retrieve the ID.
          in: path
          required: true
          type: integer
          format: int32
      responses:
        default:
          description: successful operation
  /log-shipping/s3-buckets/aws-assume-role-details:
    get:
      summary: Get account information for IAM Role
      description: >-
        Returns the Logz.io parameters needed to create an AWS IAM Role in the AWS admin console.


        The next steps after running this endpoint:

        * Open your AWS admin console and create a new IAM Role. Once the role is created, you will obtain an ARN for it. Keep it handy for the next step.

        * Create a new S3 bucket connector. Provide the ARN from the previous step in the request body.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Connect to S3 Buckets
      operationId: getAWSAssumeRoleDetails
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AWSAssumeRoleDetails'
          headers: {}

  # ::::: NOTIFICATION ENDPOINTS
  /v1/endpoints/slack:
    post:
      operationId: createSlack
      summary: Create a Slack endpoint
      tags:
        - Manage notification endpoints
      description: Creates a new Slack notification endpoint or sends a test message to Slack
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not created. To create the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SlackEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/endpoints/slack?test=false" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d \"{  \"title\": \"New Slack endpoint\",  \"description\": \"Sends notifications to #logzio-alerts channel\",  \"url\": \"https://hooks.slack.com/services/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\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/slack/{id}:
    put:
      tags:
        - Manage notification endpoints
      summary: Update Slack endpoint
      description: Updates a Slack notification endpoint or sends a test message to Slack
      operationId: updateSlack
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the notification endpoint
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not updated. To update the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SlackEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X PUT "https://api.logz.io/v1/endpoints/slack/269?test=false" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{  \"title\": \"Updated Slack endpoint\",  \"description\": \"Sends notifications to #logzio-alerts channel\",  \"url\": \"https://hooks.slack.com/services/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\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/custom:
    post:
      tags:
        - Manage notification endpoints
      summary: Create a custom notification endpoint
      description: Creates a new notification endpoint for a custom integration or sends a test message to the custom endpoint.
      operationId: createCustom
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not created. To create the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CustomEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/endpoints/custom" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{\"title\": \"New custom endpoint\", \"description\": \"Sends notifications to my custom endpoint\", \"url\": \"https://my.custom-endpoint.com\", \"method\": \"POST\", \"headers\": \"authKey=6e30-60a9-3591\", \"bodyTemplate\": {\"subject\": \"Alert from Logz.io\", \"message\": {\"severity\": \"LOW\", \"body\": \"Check Logz.io for log activity\"} }}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/custom/{id}:
    put:
      tags:
        - Manage notification endpoints
      summary: Update a custom notification endpoint
      description: Updates a new notification endpoint for a custom integration or sends a test message to the custom endpoint.
      operationId: updateCustom
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not updated. To update the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CustomEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X PUT "https://api.logz.io/v1/endpoints/custom/275" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{\"title\": \"Updated custom endpoint\", \"description\": \"Sends notifications to my custom endpoint\", \"url\": \"https://my.custom-endpoint.com/\", \"method\": \"POST\", \"headers\": \"authKey=6e30-60a9-3591\", \"bodyTemplate\": {\"subject\": \"Alert from Logz.io\", \"message\": {\"severity\": \"LOW\", \"body\": \"Check Logz.io for log activity\"} }}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/pager-duty:
    post:
      tags:
        - Manage notification endpoints
      summary: Create a PagerDuty endpoint
      description: Creates a new PagerDuty notification endpoint or sends a test message to PagerDuty.
      operationId: createPagerDuty
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not created. To create the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PagerDutyEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/endpoints/pager-duty" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{  \"title\": \"New PagerDuty endpoint\",  \"description\": \"Sends notifications to PagerDuty\",  \"serviceKey\": \"78c3b6cf0a884a538410fe281227eb0b\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/pager-duty/{id}:
    put:
      tags:
        - Manage notification endpoints
      summary: Update a PagerDuty endpoint
      description: Updates a PagerDuty notification endpoint or sends a test message to PagerDuty
      operationId: updatePagerDuty
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the notification endpoint
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not updated. To update the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PagerDutyEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X PUT "https://api.logz.io/v1/endpoints/pager-duty/271" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{  \"title\": \"Updated PagerDuty endpoint\", \"description\": \"Sends notifications to PagerDuty\", \"serviceKey\": \"78c3b6cf0a884a538410fe281227eb0b\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/big-panda:
    post:
      tags:
        - Manage notification endpoints
      summary: Create a BigPanda endpoint
      description: Creates a new BigPanda notification endpoint or sends a test message to BigPanda.
      operationId: createBigPanda
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not created. To create the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/BigPandaEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/endpoints/big-panda" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{  \"title\": \"New BigPanda endpoint\",  \"description\": \"Sends notifications to BigPanda\",  \"apiToken\": \"94ad63254a1397a51a1ae340c4f10890\",  \"appKey\": \"c687f9231619d7d7b959f33e4cc821a5\"}"'
  /v1/endpoints/big-panda/{id}:
    put:
      tags:
        - Manage notification endpoints
      summary: Update a BigPanda endpoint
      description: Updates a BigPanda notification endpoint or sends a test message to BigPanda
      operationId: updateBigPanda
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the notification endpoint
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not updated. To update the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/BigPandaEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X PUT "https://api.logz.io/v1/endpoints/big-panda/272" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{\"title\": \"Updated BigPanda endpoint\", \"description\": \"Sends notifications to BigPanda\", \"apiToken\": \"94ad63254a1397a51a1ae340c4f10890\", \"appKey\": \"c687f9231619d7d7b959f33e4cc821a5\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/data-dog:
    post:
      tags:
        - Manage notification endpoints
      summary: Create a Datadog endpoint
      description: Creates a new Datadog notification endpoint or sends a test message to Datadog.
      operationId: createDataDog
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not created. To create the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DatadogEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/endpoints/data-dog" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{  \"title\": \"New Datadog endpoint\",  \"description\": \"Sends notifications to Datadog\",  \"apiKey\": \"c687f9231619d7d7b959f33e4cc821a5\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/data-dog/{id}:
    put:
      tags:
        - Manage notification endpoints
      summary: Update a Datadog endpoint
      description: Updates a Datadog notification endpoint or sends a test message to Datadog
      operationId: updateDataDog
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the notification endpoint
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not updated. To update the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DatadogEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X PUT "http://endpoints/data-dog/273" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{\"title\": \"Updated Datadog endpoint\", \"description\": \"Sends notifications to Datadog\", \"apiKey\": \"c687f9231619d7d7b959f33e4cc821a5\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/victorops:
    post:
      tags:
        - Manage notification endpoints
      summary: Create a VictorOps endpoint
      description: Creates a new VictorOps notification endpoint or sends a test message to VictorOps.
      operationId: createVictorops
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not created. To create the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/VictoropsEndpointUpsertRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/endpoints/victorops" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{  \"title\": \"New VictorOps endpoint\",  \"description\": \"Sends notifications to VictorOps\",  \"routingKey\": \"devops\",  \"messageType\": \"WARNING\",  \"serviceApiKey\": \"c687f9231619d7d7b959f33e4cc821a5\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /v1/endpoints/victorops/{id}:
    put:
      tags:
        - Manage notification endpoints
      summary: Update a VictorOps endpoint
      description: Updates a VictorOps notification endpoint or sends a test message to VictorOps
      operationId: updateVictorops
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the notification endpoint
        - name: test
          in: query
          required: false
          type: boolean
          default: false
          description: >-
            To send a test message to the endpoint, `true`. Otherwise, `false`.


            **Note:** If set to `true`, the notification endpoint is not updated. To update the endpoint, you need to send the API request where `test=false`.
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/VictoropsEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
      x-code-samples:
        - lang: cURL
          source: 'curl -X PUT "https://api.logz.io/v1/endpoints/victorops/274" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{\"title\": \"New VictorOps endpoint\", \"description\": \"Sends notifications to VictorOps\", \"routingKey\": \"devops\", \"messageType\": \"WARNING\", \"serviceApiKey\": \"c687f9231619d7d7b959f33e4cc821a5\"}"'
  /v1/endpoints/{id}:
    get:
      tags:
        - Manage notification endpoints
      summary: Retrieve an endpoint by ID
      description: Returns a JSON object representing a notification endpoint configured in the account.
      operationId: getEndpointById
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the notification endpoint
      x-code-samples:
        - lang: cURL
          source: 'curl -X GET "https://api.logz.io/v1/endpoints/88" -H "accept: application/json" -H "X-API-TOKEN: <token>"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Endpoint'
    delete:
      tags:
        - Manage notification endpoints
      summary: Delete an endpoint
      description: Deletes a notification endpoint
      operationId: deleteEndpoint
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the notification endpoint
      x-code-samples:
        - lang: cURL
          source: 'curl -X DELETE "https://api.logz.io/v1/endpoints/269" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>"'
      responses:
        204:
          description: successful operation
  /v1/endpoints:
    get:
      tags:
        - Manage notification endpoints
      summary: Retrieve all notification endpoints
      description: Returns an array of JSON objects. Each object represents a notification endpoint configured in the account.
      operationId: getAllEndpoints
      x-code-samples:
        - lang: cURL
          source: 'curl -X GET "https://api.logz.io/v1/endpoints" -H "accept: application/json" -H "X-API-TOKEN: <token>"'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Endpoint'

  # ::::: KIBANA IMPORT/EXPORT
  /v1/kibana/export:
    post:
      tags:
        - Import or export Kibana objects
      summary: Export Kibana objects
      description: >-
        Exports the configuration of Kibana objects. All objects of a single type (search, visualization, or dashboard) are returned as an array of JSON objects. For example, if you export `visualization`, each visualization is returned as a JSON object.


        You can import objects using the [/kibana/import](#operation/importSavedObjects) endpoint.
      operationId: exportSavedObjects
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/KibanaExportRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X POST "https://api.logz.io/v1/kibana/export" -H "accept: application/json" -H "content-type: application/json" -H "X-API-TOKEN: <token>" -d "{\"type\": \"visualization\"}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/KibanaExportResponse'
  /v1/kibana/import:
    post:
      tags:
        - Import or export Kibana objects
      summary: Import Kibana objects
      description: Imports Kibana search, visualization, or dashboard objects. You can export objects using the [/kibana/export](#operation/exportSavedObjects) endpoint.
      operationId: importSavedObjects
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/KibanaImportRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/KibanaImportResponse'
      x-code-samples:
        - lang: cURL
          source: >-
            curl -X POST "https://api.logz.io/v1/kibana/import" \
            -H "accept: application/json" -H "content-type: application/json" \
            -H "X-API-TOKEN: <token>" \
            -d "{
              \"kibanaVersion\": \"4.0.0-beta3\",
              \"override\": true,
              \"hits\": [
                {
                  \"_index\": \"logzioCustomerKibanaIndex\",
                  \"_type\": \"search\",
                  \"_id\": \"c245e530-fc60-11e7-b120-5320b1759c57\",
                  \"_score\": 1,
                  \"_source\": {
                    \"title\": \"example-saved-query\",
                    \"description\": \"\",
                    \"hits\": 0,
                    \"columns\": [
                      \"message\"
                    ],
                    \"sort\": [
                      \"@timestamp\",
                      \"desc\"
                    ],
                    \"version\": 1,
                    \"kibanaSavedObjectMeta\": {
                      \"searchSourceJSON\": \"{\"index\":\"[logzioCustomerIndex]YYMMDD\",\"highlightAll\":true,\"version\":true,\"query\":{\"query_string\":{\"query\":\"example-saved-query\"}},\"filter\":[]}\"
                    },
                    \"_createdBy\": {
                      \"userId\": 1,
                      \"fullName\": \"testadmin@logz.io\",
                      \"username\": \"testadmin@logz.io\"
                    },
                    \"_createdAt\": 1516287816456,
                    \"_updatedBy\": {
                      \"userId\": 1,
                      \"fullName\": \"testadmin@logz.io\",
                      \"username\": \"testadmin@logz.io\"
                    },
                    \"_updatedAt\": 1516287816456
                  }
                }
              ]
            }"


  # ::::: SHIPPING TOKENS
  /v1/log-shipping/tokens:
    post:
      tags:
        - Manage log shipping tokens
      summary: Create a log shipping token
      description: Creates a log shipping token for this account.
      operationId: createNewLogShippingToken
      x-code-samples:
        - lang: cURL
          source: >-
            curl -L -X POST 'https://api.logz.io/log-shipping/tokens' \
            --header 'X-API-TOKEN: <token>' \
            --header 'Content-Type: application/json'
            --data-raw '{ "name": "token-name", "enabled": "true" }'
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ShippingTokensRequest'
      responses:
        '201':
          description: successful operation
          schema:
            $ref: '#/definitions/ShippingTokensModel'
  /v1/log-shipping/tokens/{id}:
    get:
      tags:
        - Manage log shipping tokens
      summary: Retrieve a log shipping token by ID
      description: Returns details for the specified shipping token.
      operationId: getLogShippingTokenById
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: This token's ID.
          example: 786351
      x-code-samples:
        - lang: cURL
          source: >-
            curl -L -X GET 'https://api.logz.io/v1/log-shipping/tokens/{id}' \
            -H 'X-API-TOKEN: <token>' \
            -H 'Content-Type: application/json'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ShippingTokensModel'
    put:
      tags:
        - Manage log shipping tokens
      summary: Update a log shipping token
      description: Enables/disables a log shipping token and/or renames it.
      operationId: updateLogShippingToken
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: This token's ID.
          example: 786351
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ShippingTokensRequest'
      x-code-samples:
        - lang: cURL
          source: >-
            curl -L -X PUT 'https://api.logz.io/v1/log-shipping/tokens/{id}' \
            -H 'X-API-TOKEN: <token>' \
            -H 'Content-Type: application/json' \
            --data-raw '{
              "name": "staging eu",
              "enabled": true
            }'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ShippingTokensModel'
    delete:
      tags:
        - Manage log shipping tokens
      summary: Delete a log shipping token
      description: >-
        Deletes a log shipping token by its ID, while providing relevant information about the token's recent status and activity.


        An account must have at least 1 enabled token. You won't be able to disable or delete the last token.

        **Important**: Active tokens can be deleted using this call. Confirm that a token is no longer needed before deleting it.
      operationId: deleteLogShippingToken
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: This token's ID.
          example: 786351
      x-code-samples:
        - lang: cURL
          source: >-
            curl -L -X DELETE 'https://api.logz.io/v1/log-shipping/tokens/786351' \
            -H 'X-API-TOKEN: <token>' \
            -H 'Content-Type: application/json'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ShippingTokensModel'
  /v1/log-shipping/tokens/limits:
    get:
      tags:
        - Manage log shipping tokens
      summary: Get number of available tokens
      description: >-
        Returns the number of log shipping tokens currently in use and the number of available tokens that can be enabled.
        Disabled tokens don't count against the token limit.
      operationId: getLogShippingTokensLimits
      x-code-samples:
        - lang: cURL
          source: >-
            curl -L -X GET 'https://api.logz.io/v1/log-shipping/tokens/limits' \
            -H 'X-API-TOKEN: <token>' \
            -H 'Content-Type: application/json'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ShippingTokensLimitsResponse'
  /v1/log-shipping/tokens/search:
    post:
      tags:
        - Manage log shipping tokens
      summary: Retrieve log shipping tokens
      description: Returns the relevant shipping tokens, filtered, sorted and paginated as per the request.
      operationId: searchLogShippingTokens
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ShippingTokensSearchRequest'
      x-code-samples:
        - lang: cURL
          source: >-
            curl -L -X POST 'https://api.logz.io/v1/log-shipping/tokens/search' \
            -H 'X-API-TOKEN: <token>' \
            -H 'Content-Type: application/json' \
            --data-raw '{
              "filter": {
                "enabled": true
              },
              "sort": [
                {
                  "field": "name",
                  "descending": true
                }
              ],
              "pagination": {
                "pageNumber": 3,
                "pageSize": 15
              }
            }'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PagedSearchResponseShippingTokensModel'

  # ::::: SHARED TOKENS
  /v1/shared-tokens/filters:
    get:
      operationId: getAllFilters
      summary: Retrieve all shared token filters
      description: >-
        Returns an array of JSON objects, where each object shows information for a shared token filter.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      x-code-samples:
        - lang: cURL
          source: 'curl -X GET "https://api.logz.io/v1/shared-tokens/filters" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>"'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: '#/definitions/QueryFilter'
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
    post:
      operationId: createFilter
      summary: Create a shared token filter
      description: >-
        Creates a new shared token filter.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/QueryFilter'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/QueryFilter'
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
  /v1/shared-tokens/filters/{id}:
    get:
      operationId: getFilter
      summary: Retrieve a shared token filter by ID
      description: >-
        Returns a shared token filter as a JSON object.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the shared token filter
      x-code-samples:
        - lang: cURL
          source: 'curl -X GET "https://api.logz.io/v1/shared-tokens/filters/345" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/QueryFilter'
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
    delete:
      operationId: deleteFilter
      summary: Delete a shared token filter
      description: >-
        Deletes a shared token filter.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the shared token filter
      x-code-samples:
        - lang: cURL
          source: 'curl -X DELETE "https://api.logz.io/v1/shared-tokens/filters/345" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>"'
      responses:
        200:
          description: successful operation
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
  /v1/shared-tokens/{id}:
    get:
      operationId: getToken
      summary: Retrieve a shared token by ID
      description: >-
        Returns a shared token as a JSON object.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the shared token
      x-code-samples:
        - lang: cURL
          source: 'curl -X GET "https://api.logz.io/v1/shared-tokens/1242" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SharedToken'
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
    put:
      operationId: updateToken
      summary: Update a shared token
      description: >-
        Changes the filters attached to a shared token.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/UpdateSharedTokenRequest'
      x-code-samples:
        - lang: cURL
          source: 'curl -X PUT "https://api.logz.io/v1/shared-tokens/1242" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>" -d "{\"filters\":[339]}"'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SharedToken'
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
    delete:
      operationId: deleteToken
      summary: Delete a shared token
      description: >-
        Deletes a shared token.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the shared token
      x-code-samples:
        - lang: cURL
          source: 'curl -X DELETE "https://api.logz.io/v1/shared-tokens/1250" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>"'
      responses:
        204:
          description: successful operation
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
  /v1/shared-tokens:
    get:
      operationId: getAllTokens
      summary: Retrieve all shared tokens
      description: >-
        Returns an array of JSON objects, where each object shows information for a shared token.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email [help@logz.io](mailto:help@logz.io) for assistance.
      tags:
        - Manage shared tokens
      responses:
        200:
          description: successful operation
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: '#/definitions/SharedToken'
        400:
          description: not found
          schema:
            type: object
            properties:
              message:
                type: string
                example: token with id 12345 not found for account 54321
                description: The shared token or query filter could not be found
        403:
          description: forbidden
          schema:
            type: object
            properties:
              message:
                type: string
                example: Insufficient privileges
                description: Insufficient privileges. Contact our Support team for access to this API feature.
      x-code-samples:
        - lang: cURL
          source: 'curl -X GET "https://api.logz.io/v1/shared-tokens" -H  "accept: application/json" -H  "content-type: application/json" -H  "X-API-TOKEN: <token>"'
    post:
      operationId: createToken
      summary: Create a shared token
      description: >-
[...]
